Referencia de restricciones de validación
=========================================

.. toctree::
   :maxdepth: 1
   :hidden:

   constraints/NotBlank
   constraints/Blank
   constraints/NotNull
   constraints/Null
   constraints/True
   constraints/False
   constraints/Type

   constraints/Email
   constraints/MinLength
   constraints/MaxLength
   constraints/Length
   constraints/Url
   constraints/Regex
   constraints/Ip

   constraints/Max
   constraints/Min
   constraints/Range

   constraints/Date
   constraints/DateTime
   constraints/Time

   constraints/Choice
   constraints/Collection
   constraints/Count
   constraints/UniqueEntity
   constraints/Language
   constraints/Locale
   constraints/Country

   constraints/File
   constraints/Image

   constraints/CardScheme
   constraints/Luhn

   constraints/Callback
   constraints/All
   constraints/UserPassword
   constraints/Valid

El Validador está diseñado para validar objetos contra *restricciones*.
En la vida real, una restricción podría ser: «El pastel no se debe quemar». En *Symfony2*, las restricciones son similares: Son aserciones de que una condición es verdadera.

Restricciones compatibles
-------------------------

Las siguientes restricciones están disponibles nativamente en *Symfony2*:

.. include:: /reference/constraints/map.rst.inc
