.. index::
   single: Requisitos

Requisitos para que funcione *Symfony2*
=======================================

Para ejecutar *Symfony2*, el sistema debe cumplir con una lista de requisitos. Fácilmente puedes ver si el sistema pasa todos los requisitos ejecutando :file:`web/config.php` en tu distribución de *Symfony*. Debido a que el *CLI* a menudo utiliza un archivo de configuración :file:`php.ini` diferente, también es una buena idea revisar tus requisitos desde la línea de ordenes por medio de:

.. code-block:: bash

    php app/check.php

A continuación mostramos la lista de requisitos obligatorios y opcionales.

Obligatorio
-----------

* *PHP* debe ser una versión mínima de *PHP 5.3.2*
* Sqlite3 debe estar habilitado
* Es necesario habilitar *JSON*
* es necesario tener habilitado el ``ctype``
* Tu :file:`PHP.ini` debe tener configurado el valor ``date.timezone``

Opcional
--------

* Necesitas tener instalado el módulo ``PHP-XML``
* Necesitas tener por lo menos la versión 2.6.21 de ``libxml``
* Necesitas activar el ``tokenizer`` de *PHP*
* tienes que habilitar las funciones ``mbstring``
* tienes que activar ``iconv``
* ``POSIX`` tiene que estar habilitado (únicamente en \*nix)
* Debes tener instalado *Intl* con *ICU 4+*
* *APC 3.0.17+* (u otra caché opcode debe estar instalada)
* Configuración recomendada en :file:`PHP.ini`

  * ``short_open_tag = Off``
  * ``magic_quotes_gpc = Off``
  * ``register_globals = Off``
  * ``session.autostart = Off``

*Doctrine*
----------

Si deseas utilizar *Doctrine*, necesitarás tener instalado *PDO*. Además, es necesario tener instalado el controlador de *PDO* para el servidor de base de datos que desees utilizar.
