

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>El componente Routing &mdash; Symblog</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.2.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/translations.js"></script>
    <link rel="top" title="Symblog" href="../index.html" />
    <link rel="next" title="Colaborando" href="../contributing/code.html" />
    <link rel="prev" title="Instalando el recinto de seguridad del CMF" href="../cookbook/installing-cmf-sandbox.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="../contributing/code.html" title="Colaborando"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="../cookbook/installing-cmf-sandbox.html" title="Instalando el recinto de seguridad del CMF"
             accesskey="P">anterior</a> |</li>
        <li><a href="../index.html">Symblog</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="el-componente-routing">
<h1>El componente <tt class="docutils literal"><span class="pre">Routing</span></tt><a class="headerlink" href="#el-componente-routing" title="Enlazar permanentemente con este título">¶</a></h1>
<p>La biblioteca del <a class="reference external" href="https://github.com/symfony-cmf/Routing">componente Routing del CMF de Symfony</a>  extiende el componente <tt class="docutils literal"><span class="pre">routing</span></tt> del núcleo de <em>Symfony2</em>. Incluso, aunque este tiene <em>Symfony</em> en su nombre, no necesita la plataforma <em>Symfony2</em> completa y se puede utilizar en proyectos independientes. Para integración con <em>Symfony</em> proporcionamos <a class="reference internal" href="../bundles/routing-extra.html"><em>RoutingExtraBundle</em></a>.</p>
<p>En el núcleo del <tt class="docutils literal"><span class="pre">CMF</span></tt> de  <em>Symfony</em> el componente de enrutado es el <tt class="docutils literal"><span class="pre">ChainRouter</span></tt>, que se utiliza en vez del sistema de enrutamiento predeterminado de <em>Symfony2</em>. El <tt class="docutils literal"><span class="pre">ChainRouter</span></tt> puede encadenar varias implementaciones de <tt class="docutils literal"><span class="pre">RouterInterface</span></tt>, una tras otra, para determinar cuál tendría que manejar cada petición. Puedes añadir a esta cadena el enrutador predeterminado de <em>Symfony2</em>, por lo tanto aún puedes utilizar el mecanismo de enrutado estándar.</p>
<p>Además, este componente se pretende que proporcione útiles implementaciones de la <tt class="docutils literal"><span class="pre">RouterInterface</span></tt>. Actualmente, proporciona <tt class="docutils literal"><span class="pre">DynamicRouter</span></tt> que es capaz de recuperar dinámicamente un objeto <tt class="docutils literal"><span class="pre">Ruta</span></tt> de <em>Symfony2</em> desde un repositorio. El repositorio se puede implementar utilizando una base de datos, por ejemplo con el <em>PHPCR-ODM</em> de <em>Doctrine</em> o el <em>ORM</em> de <em>Doctrine</em>.</p>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Para usar este componente fuera del contexto de la plataforma <em>Symfony2</em>, tienes que darle un vistazo al componente <a class="reference external" href="https://github.com/symfony/Routing">Routing</a> del núcleo de <em>Symfony2</em> para conseguir un entendimiento fundamental del componente. El enrutador del <tt class="docutils literal"><span class="pre">CMF</span></tt> justo extiende el comportamiento básico.</p>
</div>
<div class="section" id="dependencias">
<span id="index-0"></span><h2>Dependencias<a class="headerlink" href="#dependencias" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Este componente usa <a class="reference external" href="http://getcomposer.org">composer</a>. Necesita los componentes <tt class="docutils literal"><span class="pre">Routing</span></tt> y <tt class="docutils literal"><span class="pre">HttpKernel</span></tt> de <em>Symfony2</em> (para la interfaz del registro cronológico e iniciar la memoria caché).</p>
<p>Para el <tt class="docutils literal"><span class="pre">DynamicRouter</span></tt> necesitarás algo para implementar la <tt class="docutils literal"><span class="pre">RouteRepositoryInterface</span></tt>. Te sugerimos utilizar <em>Doctrine</em> puesto que te permite asociar cualquier clase a una base de datos.</p>
</div>
<div class="section" id="chainrouter">
<h2><tt class="docutils literal"><span class="pre">ChainRouter</span></tt><a class="headerlink" href="#chainrouter" title="Enlazar permanentemente con este título">¶</a></h2>
<p>En el núcleo del <tt class="docutils literal"><span class="pre">CMF</span></tt> de  <em>Symfony</em> el componente de enrutado es el <tt class="docutils literal"><span class="pre">ChainRouter</span></tt>.
Este se utiliza en vez del sistema de enrutado predeterminado de <em>Symfony2</em>, y es el responsable de determinar cuál controlador manejará cada petición.</p>
<p>El <tt class="docutils literal"><span class="pre">ChainRouter</span></tt> trabaja aceptando un conjunto priorizado de implementaciones de estrategias de enrutado, <a class="reference external" href="http://api.symfony.com/2.1/Symfony/Component/Routing/RouterInterface.html">RouterInterface</a>, generalmente referidas como <tt class="docutils literal"><span class="pre">«Enrutadores»</span></tt>.</p>
<p>Al manejar una petición entrante, itera sobre los <tt class="docutils literal"><span class="pre">enrutadores</span></tt> configurados, por su prioridad establecida, hasta que uno de ellos es capaz de <a class="reference external" href="http://api.symfony.com/2.1/Symfony/Component/Routing/RouterInterface.html#method_match">emparejar</a>
la petición y asignarla a un determinado <tt class="docutils literal"><span class="pre">Controlador</span></tt>.</p>
</div>
<div class="section" id="enrutadores">
<h2>Enrutadores<a class="headerlink" href="#enrutadores" title="Enlazar permanentemente con este título">¶</a></h2>
<p>El <tt class="docutils literal"><span class="pre">ChainRouter</span></tt> es incapaz &#8212;por sí mismo&#8212; de hacer ningún encaminamiento real.
Su única responsabilidad es gestionar el conjunto de <tt class="docutils literal"><span class="pre">Enrutadores</span></tt> dado, los cuales son los verdaderos responsables de emparejar una <tt class="docutils literal"><span class="pre">Petición</span></tt> a un <tt class="docutils literal"><span class="pre">Controlador</span></tt>.</p>
<p>Fácilmente puedes crear tus propios <tt class="docutils literal"><span class="pre">Enrutadores</span></tt> implementando la <a class="reference external" href="http://api.symfony.com/2.1/Symfony/Component/Routing/RouterInterface.html">RouterInterface</a> pero, por omisión, el <tt class="docutils literal"><span class="pre">CMF</span></tt> de <em>Symfony</em> ya incluye algunos mecanismos de encaminamiento básicos para ayudarte a empezar.</p>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Si estás utilizando este como parte de un proyecto completo con el <tt class="docutils literal"><span class="pre">CMF</span></tt> de <em>Symfony</em>, por favor, revisa el <a class="reference internal" href="../bundles/routing-extra.html"><em>RoutingExtraBundle</em></a> para instrucciones sobre cómo añadir <tt class="docutils literal"><span class="pre">Enrutadores</span></tt> al <tt class="docutils literal"><span class="pre">ChainRouter</span></tt>. De lo contrario, usa el método <tt class="docutils literal"><span class="pre">add</span></tt> del <tt class="docutils literal"><span class="pre">ChainRouter</span></tt> para configurar nuevos <tt class="docutils literal"><span class="pre">Enrutadores</span></tt>.</p>
</div>
<div class="section" id="enrutador-predefinido-de-symfony2">
<h3>Enrutador predefinido de <em>Symfony2</em><a class="headerlink" href="#enrutador-predefinido-de-symfony2" title="Enlazar permanentemente con este título">¶</a></h3>
<p>El mecanismo de enrutado de <em>Symfony2</em> en sí mismo es una implementación de <tt class="docutils literal"><span class="pre">RouterInterface</span></tt>, lo cual significa que lo puedes utilizar como <tt class="docutils literal"><span class="pre">Enrutador</span></tt> en el <tt class="docutils literal"><span class="pre">ChainRouter</span></tt>. Esto te permite utilizar las declaraciones del sistema de enrutado predefinido.</p>
</div>
<div class="section" id="enrutador-dinamico">
<h3>Enrutador dinámico<a class="headerlink" href="#enrutador-dinamico" title="Enlazar permanentemente con este título">¶</a></h3>
<p>El <tt class="docutils literal"><span class="pre">DynamicRouter</span></tt> es capaz de cargar dinámicamente <a class="reference external" href="http://api.symfony.com/2.1/Symfony/Component/Routing/Route.html">objetos Ruta</a> desde una fuente determinada de datos proporcionada al <tt class="docutils literal"><span class="pre">Enrutador</span></tt> tal como una implementación de <tt class="docutils literal"><span class="pre">RouteRepositoryInterface</span></tt>. A pesar de que lo puedes utilizar de otras maneras, el principal objetivo de la <tt class="docutils literal"><span class="pre">RouteRepositoryInterface</span></tt> es facilitar eficientemente la implementación del <em>PHPCR</em> en lo alto del <em>ODM</em> de <em>Doctrine</em>, permitiéndote almacenar y gestionar rutas dinámicamente desde una base de datos.</p>
<div class="section" id="procesando-la-peticion">
<h4>Procesando la petición<a class="headerlink" href="#procesando-la-peticion" title="Enlazar permanentemente con este título">¶</a></h4>
<p>La petición entrante es manejada por el método <tt class="docutils literal"><span class="pre">match</span></tt> del <tt class="docutils literal"><span class="pre">DynamicRouter</span></tt> usando el siguiente flujo de trabajo:</p>
<ul class="simple">
<li>El <tt class="docutils literal"><span class="pre">DynamicRouter</span></tt> utiliza la <tt class="docutils literal"><span class="pre">RouteRepositoryInterface</span></tt> para recuperar un conjunto de instancias <tt class="docutils literal"><span class="pre">Ruta</span></tt></li>
<li>Luego utiliza el <tt class="docutils literal"><span class="pre">UrlMatcher</span></tt> en conjunto devuelto para encontrar una sola <tt class="docutils literal"><span class="pre">Ruta</span></tt> coincidente</li>
<li>Aplica un conjunto opcional de <tt class="docutils literal"><span class="pre">RouteEnhancers</span></tt> a la <tt class="docutils literal"><span class="pre">Ruta</span></tt></li>
</ul>
<div class="section" id="la-recuperacion">
<h5>La recuperación<a class="headerlink" href="#la-recuperacion" title="Enlazar permanentemente con este título">¶</a></h5>
<p>Basado en la <em>URL</em> solicitada, el <tt class="docutils literal"><span class="pre">DynamicRouter</span></tt> recuperará un conjunto ordenado de objetos <tt class="docutils literal"><span class="pre">Ruta</span></tt> desde la <tt class="docutils literal"><span class="pre">RouteRepositoryInterface</span></tt>.</p>
<p>La implementación subyacente de la interfaz <tt class="docutils literal"><span class="pre">RouteRepositoryInterface</span></tt> no es parte del alcance de este paquete. Consulta la declaración de interfaz para más información. Para un ejemplo funcional, ve el <a class="reference external" href="https://github.com/symfony-cmf/RoutingExtraBundle">RoutingExtraBundle</a>.</p>
</div>
<div class="section" id="la-igualacion">
<h5>La igualación<a class="headerlink" href="#la-igualacion" title="Enlazar permanentemente con este título">¶</a></h5>
<p>El <tt class="docutils literal"><span class="pre">DynamicRouter</span></tt> usa el método <a class="reference external" href="http://api.symfony.com/2.1/Symfony/Component/Routing/Matcher/UrlMatcher.html">UrlMatcher</a> del componente <tt class="docutils literal"><span class="pre">Routing</span></tt> de <em>Symfony</em> al iterar sobre los objetos <tt class="docutils literal"><span class="pre">Ruta</span></tt> recuperados, para determinar cuál de ellos utilizar.</p>
</div>
<div class="section" id="los-potenciadores">
<h5>Los potenciadores<a class="headerlink" href="#los-potenciadores" title="Enlazar permanentemente con este título">¶</a></h5>
<p>Opcionalmente, puedes declarar un conjunto de instancias de la <tt class="docutils literal"><span class="pre">RouteEnhancerInterface</span></tt> y asociarlas al <tt class="docutils literal"><span class="pre">DynamicRouter</span></tt>. El objetivo de esto es permitirte manipular la <tt class="docutils literal"><span class="pre">Ruta</span></tt> y sus parámetros asociados. Estos se pueden utilizar, por ejemplo, para asignar dinámicamente un controlador o una plantilla a una <tt class="docutils literal"><span class="pre">Ruta</span></tt>. Algunos sencillos potenciadores ya vienen integrados con el paquete, puedes encontrar la documentación dentro de cada archivo de clase.</p>
</div>
</div>
<div class="section" id="enlazando-una-ruta-con-un-contenido">
<h4>Enlazando una <tt class="docutils literal"><span class="pre">Ruta</span></tt> con un <tt class="docutils literal"><span class="pre">Contenido</span></tt><a class="headerlink" href="#enlazando-una-ruta-con-un-contenido" title="Enlazar permanentemente con este título">¶</a></h4>
<p>Dependiendo de la lógica de tu aplicación, una <em>URL</em> solicitada puede tener asociado contenido desde la base de datos. Estas <tt class="docutils literal"><span class="pre">Rutas</span></tt> deberían implementar la <tt class="docutils literal"><span class="pre">RouteObjectInterface</span></tt>, y opcionalmente pueden regresar una instancia del modelo, la cual será vinculada al arreglo devuelto, en la clave <tt class="docutils literal"><span class="pre">_content</span></tt>. Ten en cuenta que una <tt class="docutils literal"><span class="pre">Ruta</span></tt> puede implementar la interfaz mencionada anteriormente pero todavía no regresar ninguna instancia del modelo, en cuyo caso ningún objeto asociado será regresado.</p>
<p>Además, los enrutadores que implementen esta interfaz también pueden proporcionar un nombre de ruta personalizado. La clave devuelta por <tt class="docutils literal"><span class="pre">getRouteKey</span></tt> será utilizada como el nombre de ruta en vez del nombre de ruta compatible con el núcleo de <em>Symfony</em> y puede contener cualquiera de los caracteres del juego de caracteres actual. Esto te permite, por ejemplo, poner una ruta como el nombre de la ruta.</p>
<p>Todos los enrutadores todavía necesitan extender la clase base <tt class="docutils literal"><span class="pre">Symfony\Component\Routing\Route</span></tt>.</p>
</div>
<div class="section" id="redirecciones">
<h4>Redirecciones<a class="headerlink" href="#redirecciones" title="Enlazar permanentemente con este título">¶</a></h4>
<p>Puedes construir redirecciones implementando la <tt class="docutils literal"><span class="pre">RedirectRouteInterface</span></tt>.
Esta bien puede redirigir a una <em>URI</em> absoluta, a una <tt class="docutils literal"><span class="pre">Ruta</span></tt> nombrada que puede
generar cualquier <tt class="docutils literal"><span class="pre">Enrutador</span></tt> en la cadena o a otro objeto <tt class="docutils literal"><span class="pre">Ruta</span></tt> en el repositorio.</p>
<p>Ten en cuenta que la redirección lógica real no es manejada por el paquete. Deberías implementar tu propia lógica para manejar la redirección real. Para un ejemplo implementando esta redirección bajo la pila completa de <em>Symfony2</em>, consulta el <a class="reference internal" href="../bundles/routing-extra.html"><em>RoutingExtraBundle</em></a>.</p>
</div>
<div class="section" id="rutas-e-idiomas">
<h4>Rutas e idiomas<a class="headerlink" href="#rutas-e-idiomas" title="Enlazar permanentemente con este título">¶</a></h4>
<p>Puedes utilizar el valor predefinido de <tt class="docutils literal"><span class="pre">_locale</span></tt> en una <tt class="docutils literal"><span class="pre">Ruta</span></tt> para crear una <tt class="docutils literal"><span class="pre">Ruta</span></tt> por región, todas refiriendose a la misma instancia del modelo multilingüe. El <tt class="docutils literal"><span class="pre">DynamicRouter</span></tt> respeta el valor de <tt class="docutils literal"><span class="pre">_locale</span></tt> al generar rutas de instancias del modelo. Al resolver la ruta, el <tt class="docutils literal"><span class="pre">_locale</span></tt> se obtiene desde la petición y es recogido por el sistema regional de <em>Symfony2</em>.</p>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Bajo <em>PHPCR-ODM</em>, las rutas nunca deberían ser documentos traducibles, puesto que un documento de <tt class="docutils literal"><span class="pre">Ruta</span></tt> representa una <em>URL</em> única, y no es recomendable servir varias traducciones bajo la misma <em>URL</em>.</p>
</div>
</div>
<div class="section" id="generando-url">
<h4>Generando <em>URL</em><a class="headerlink" href="#generando-url" title="Enlazar permanentemente con este título">¶</a></h4>
<p><tt class="docutils literal"><span class="pre">DynamicRouter</span></tt> usa el <a class="reference external" href="http://api.symfony.com/2.1/Symfony/Component/Routing/Generator/UrlGenerator.html">UrlGenerator</a> predefinido de <em>Symfony2</em> para manejar la generación de <em>URL</em>. Puedes generar <em>URL</em> para tu contenido en tres distintas maneras:</p>
<ul class="simple">
<li>Ya sea pasando una implementación de <tt class="docutils literal"><span class="pre">RouteObjectInterface</span></tt> como el parámetro <tt class="docutils literal"><span class="pre">route</span></tt></li>
<li>O pasando un ejemplar del modelo como el parámetro <tt class="docutils literal"><span class="pre">content</span></tt></li>
<li>O supliendo una implementación de <tt class="docutils literal"><span class="pre">ContentRepositoryInterface</span></tt> y el <tt class="docutils literal"><span class="pre">id</span></tt> del ejemplar del modelo como el parámetro <tt class="docutils literal"><span class="pre">content_id</span></tt></li>
</ul>
</div>
</div>
</div>
<div class="section" id="personalizando">
<h2>Personalizando<a class="headerlink" href="#personalizando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Los paquetes de enrutado permiten varias opciones de personalización, dependiendo de tus necesidades específicas:</p>
<ul class="simple">
<li>Tus parámetros de <tt class="docutils literal"><span class="pre">Ruta</span></tt> se pueden manipular fácilmente utilizando los potenciadores existentes</li>
<li>También puedes añadir tu propio potenciador a la lógica del <tt class="docutils literal"><span class="pre">Enrutador</span></tt>.</li>
<li>El <tt class="docutils literal"><span class="pre">DynamicRouter</span></tt> o sus componentes se pueden extender para permitir modificaciones</li>
<li>Puedes implementar tus propios <tt class="docutils literal"><span class="pre">Enrutadores</span></tt> y añadirlos al <tt class="docutils literal"><span class="pre">ChainRouter</span></tt></li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Si sientes que tu potenciador o <tt class="docutils literal"><span class="pre">Enrutador</span></tt> específico le puede ser útil a otros, contáctanos e intentaremos incluirlo en el paquete.</p>
</div>
</div>
<div class="section" id="integrando-con-symfony2">
<h2>Integrando con <em>Symfony2</em><a class="headerlink" href="#integrando-con-symfony2" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Tal como mencioné antes, este paquete fue diseñado para sólo requerir ciertas partes de <em>Symfony2</em>. Aun así, si deseas utilizarlo como parte de tu proyecto <tt class="docutils literal"><span class="pre">CMF</span></tt> de <em>Symfony</em>, también hay disponible un paquete de integración. Te recomendamos que le eches un vistazo en <a class="reference internal" href="../bundles/routing-extra.html"><em>RoutingExtraBundle</em></a>.</p>
</div>
<div class="section" id="autores">
<h2>Autores<a class="headerlink" href="#autores" title="Enlazar permanentemente con este título">¶</a></h2>
<ul class="simple">
<li>Filippo De Santis (p16)</li>
<li>Henrik Bjornskov (henrikbjorn)</li>
<li>Claudio Beatrice (omissis)</li>
<li>Lukas Kahwe Smith (lsmith77)</li>
<li>David Buchmann (dbu)</li>
<li><a class="reference external" href="https://github.com/symfony-cmf/Routing/contributors">Y otros</a></li>
</ul>
<p>El código original para la cadena de enrutadores fue aportado por Magnus Nordlander.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Contenidos</a></h3>
  <ul>
<li><a class="reference internal" href="#">El componente <tt class="docutils literal"><span class="pre">Routing</span></tt></a><ul>
<li><a class="reference internal" href="#dependencias">Dependencias</a></li>
<li><a class="reference internal" href="#chainrouter"><tt class="docutils literal"><span class="pre">ChainRouter</span></tt></a></li>
<li><a class="reference internal" href="#enrutadores">Enrutadores</a><ul>
<li><a class="reference internal" href="#enrutador-predefinido-de-symfony2">Enrutador predefinido de <em>Symfony2</em></a></li>
<li><a class="reference internal" href="#enrutador-dinamico">Enrutador dinámico</a><ul>
<li><a class="reference internal" href="#procesando-la-peticion">Procesando la petición</a><ul>
<li><a class="reference internal" href="#la-recuperacion">La recuperación</a></li>
<li><a class="reference internal" href="#la-igualacion">La igualación</a></li>
<li><a class="reference internal" href="#los-potenciadores">Los potenciadores</a></li>
</ul>
</li>
<li><a class="reference internal" href="#enlazando-una-ruta-con-un-contenido">Enlazando una <tt class="docutils literal"><span class="pre">Ruta</span></tt> con un <tt class="docutils literal"><span class="pre">Contenido</span></tt></a></li>
<li><a class="reference internal" href="#redirecciones">Redirecciones</a></li>
<li><a class="reference internal" href="#rutas-e-idiomas">Rutas e idiomas</a></li>
<li><a class="reference internal" href="#generando-url">Generando <em>URL</em></a></li>
</ul>
</li>
</ul>
</li>
<li><a class="reference internal" href="#personalizando">Personalizando</a></li>
<li><a class="reference internal" href="#integrando-con-symfony2">Integrando con <em>Symfony2</em></a></li>
<li><a class="reference internal" href="#autores">Autores</a></li>
</ul>
</li>
</ul>

  <h4>Tema anterior</h4>
  <p class="topless"><a href="../cookbook/installing-cmf-sandbox.html"
                        title="Capítulo anterior">Instalando el recinto de seguridad del <tt class="docutils literal"><span class="pre">CMF</span></tt></a></p>
  <h4>Próximo tema</h4>
  <p class="topless"><a href="../contributing/code.html"
                        title="Próximo capítulo">Colaborando</a></p>
<div id="searchbox" style="display: none">
  <h3>Búsqueda rápida</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Ir a" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="../contributing/code.html" title="Colaborando"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="../cookbook/installing-cmf-sandbox.html" title="Instalando el recinto de seguridad del CMF"
             >anterior</a> |</li>
        <li><a href="../index.html">Symblog</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2012, Comunidad CMF de Symfony Traducido al español por Nacho Pacheco.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>