
<!DOCTYPE html> 
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>El componente Console &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../../index.html" />
    <link rel="up" title="Consola" href="index.html" />
    <link rel="next" title="Usando órdenes de consola, atajos y órdenes integradas" href="usage.html" />
    <link rel="prev" title="Consola" href="index.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="../../index.html"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="usage.html" title="Usando órdenes de consola, atajos y órdenes integradas"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="index.html" title="Consola"
             accesskey="P">anterior</a> |</li>
        <li><a href="../../index.html">en Español</a> &raquo;</li>
          <li><a href="../index.html" >Componentes</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Consola</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="el-componente-console">
<span id="index-0"></span><h1>El componente <tt class="docutils literal"><span class="pre">Console</span></tt><a class="headerlink" href="#el-componente-console" title="Enlazar permanentemente con este título">¶</a></h1>
<blockquote>
<div>El componente <tt class="docutils literal"><span class="pre">Console</span></tt> facilita la creación de bellas y comprobables interfaces de línea de ordenes.</div></blockquote>
<p>El componente <tt class="docutils literal"><span class="pre">Console</span></tt> te permite crear instrucciones para la línea de ordenes. Tus ordenes de consola se pueden utilizar para cualquier tarea repetitiva, como tareas programadas (<tt class="docutils literal"><span class="pre">cronjobs</span></tt>), importaciones, u otros trabajos por lotes.</p>
<div class="section" id="instalando">
<h2>Instalando<a class="headerlink" href="#instalando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Puedes instalar el componente de varias maneras diferentes:</p>
<ul class="simple">
<li>Usando el repositorio <em>Git</em> oficial (<a class="reference external" href="https://github.com/symfony/Console">https://github.com/symfony/Console</a>);</li>
<li><a class="reference internal" href="../using_components.html"><em>Instalándolo vía Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/console</span></tt> en <a class="reference external" href="https://packagist.org/packages/symfony/console">Packagist</a>).</li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p>Windows no apoya colores <em>ANSI</em> de manera predeterminada así que el componente <tt class="docutils literal"><span class="pre">Console</span></tt> detecta y deshabilita colores donde Windows no cuenta con soporte. Sin embargo, si Windows no está configurado con un controlador <em>ANSI</em> y tus órdenes de consola invocan a otros guiones que emiten secuencias de color <em>ANSI</em>, serán mostradas como secuencias de caracteres escapadas.</p>
<p class="last">Para habilitar el apoyo de color <em>ANSI</em> en Windows, debes instalar <cite>ANSICON_</cite>.</p>
</div>
</div>
<div class="section" id="creando-una-orden-basica">
<h2>Creando una orden básica<a class="headerlink" href="#creando-una-orden-basica" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Para hacer una orden de consola que dé la bienvenida desde la línea de ordenes, crea el archivo <tt class="file docutils literal"><span class="pre">GreetCommand.php</span></tt> y agrégale lo siguiente:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">namespace</span> <span class="nx">Acme\DemoBundle\Command</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\Console\Command\Command</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Input\InputArgument</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Input\InputInterface</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Input\InputOption</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Output\OutputInterface</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">GreetCommand</span> <span class="k">extends</span> <span class="nx">Command</span>
<span class="p">{</span>
    <span class="k">protected</span> <span class="k">function</span> <span class="nf">configure</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$this</span>
            <span class="o">-&gt;</span><span class="na">setName</span><span class="p">(</span><span class="s1">&#39;demo:greet&#39;</span><span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">setDescription</span><span class="p">(</span><span class="s1">&#39;Greet someone&#39;</span><span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">addArgument</span><span class="p">(</span>
                <span class="s1">&#39;name&#39;</span><span class="p">,</span>
                <span class="nx">InputArgument</span><span class="o">::</span><span class="na">OPTIONAL</span><span class="p">,</span>
                <span class="s1">&#39;Who do you want to greet?&#39;</span>
            <span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">addOption</span><span class="p">(</span>
               <span class="s1">&#39;yell&#39;</span><span class="p">,</span>
               <span class="k">null</span><span class="p">,</span>
               <span class="nx">InputOption</span><span class="o">::</span><span class="na">VALUE_NONE</span><span class="p">,</span>
               <span class="s1">&#39;If set, the task will yell in uppercase letters&#39;</span>
            <span class="p">)</span>
        <span class="p">;</span>
    <span class="p">}</span>

    <span class="k">protected</span> <span class="k">function</span> <span class="nf">execute</span><span class="p">(</span><span class="nx">InputInterface</span> <span class="nv">$input</span><span class="p">,</span> <span class="nx">OutputInterface</span> <span class="nv">$output</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$name</span> <span class="o">=</span> <span class="nv">$input</span><span class="o">-&gt;</span><span class="na">getArgument</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">);</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$name</span><span class="p">)</span> <span class="p">{</span>
            <span class="nv">$text</span> <span class="o">=</span> <span class="s1">&#39;Hello &#39;</span><span class="o">.</span><span class="nv">$name</span><span class="p">;</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="nv">$text</span> <span class="o">=</span> <span class="s1">&#39;Hello&#39;</span><span class="p">;</span>
        <span class="p">}</span>

        <span class="k">if</span> <span class="p">(</span><span class="nv">$input</span><span class="o">-&gt;</span><span class="na">getOption</span><span class="p">(</span><span class="s1">&#39;yell&#39;</span><span class="p">))</span> <span class="p">{</span>
            <span class="nv">$text</span> <span class="o">=</span> <span class="nb">strtoupper</span><span class="p">(</span><span class="nv">$text</span><span class="p">);</span>
        <span class="p">}</span>

        <span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="nv">$text</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>También necesitas crear el archivo para ejecutar la línea de ordenes, el cual crea una <tt class="docutils literal"><span class="pre">Application</span></tt> y le agrega ordenes:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">#!/usr/bin/env php</span>
<span class="c1"># app/console</span>
<span class="o">&lt;?</span><span class="nx">php</span>

<span class="k">use</span> <span class="nx">Acme\DemoBundle\Command\GreetCommand</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Application</span><span class="p">;</span>

<span class="nv">$application</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Application</span><span class="p">();</span>
<span class="nv">$application</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="k">new</span> <span class="nx">GreetCommand</span><span class="p">);</span>
<span class="nv">$application</span><span class="o">-&gt;</span><span class="na">run</span><span class="p">();</span>
</pre></div>
</div>
<p>Prueba la nueva consola de ordenes ejecutando lo siguiente:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>app/console demo:greet Fabien
</pre></div>
</div>
<p>Esto imprimirá lo siguiente en la línea de ordenes:</p>
<div class="highlight-text"><div class="highlight"><pre>Hello Fabien
</pre></div>
</div>
<p>También puedes utilizar la opción <tt class="docutils literal"><span class="pre">--yell</span></tt> para convertir todo a mayúsculas:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>app/console demo:greet Fabien --yell
</pre></div>
</div>
<p>Esto imprime:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nx">HELLO</span> <span class="nx">FABIEN</span>
</pre></div>
</div>
<div class="section" id="coloreando-la-salida">
<span id="components-console-coloring"></span><h3>Coloreando la salida<a class="headerlink" href="#coloreando-la-salida" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Cada vez que produces texto, puedes escribir el texto con etiquetas para colorear tu salida. Por ejemplo:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// texto verde</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;info&gt;foo&lt;/info&gt;&#39;</span><span class="p">);</span>

<span class="c1">// texto amarillo</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;comment&gt;foo&lt;/comment&gt;&#39;</span><span class="p">);</span>

<span class="c1">// texto negro sobre fondo cían</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;question&gt;foo&lt;/question&gt;&#39;</span><span class="p">);</span>

<span class="c1">// texto blanco sobre fondo rojo</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;error&gt;foo&lt;/error&gt;&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Es posible definir tu propio estilo usando la clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Console\Formatter\OutputFormatterStyle</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$style</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">OutputFormatterStyle</span><span class="p">(</span><span class="s1">&#39;red&#39;</span><span class="p">,</span> <span class="s1">&#39;yellow&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;bold&#39;</span><span class="p">,</span> <span class="s1">&#39;blink&#39;</span><span class="p">));</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">getFormatter</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">setStyle</span><span class="p">(</span><span class="s1">&#39;fire&#39;</span><span class="p">,</span> <span class="nv">$style</span><span class="p">);</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;fire&gt;foo&lt;/fire&gt;&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Los colores disponibles para el fondo y primer plano son: <tt class="docutils literal"><span class="pre">black</span></tt>, <tt class="docutils literal"><span class="pre">red</span></tt>, <tt class="docutils literal"><span class="pre">green</span></tt>, <tt class="docutils literal"><span class="pre">yellow</span></tt>, <tt class="docutils literal"><span class="pre">blue</span></tt>, <tt class="docutils literal"><span class="pre">magenta</span></tt>, <tt class="docutils literal"><span class="pre">cyan</span></tt> y <tt class="docutils literal"><span class="pre">white</span></tt>.</p>
<p>Y las opciones disponibles son: <tt class="docutils literal"><span class="pre">bold</span></tt>, <tt class="docutils literal"><span class="pre">underscore</span></tt>, <tt class="docutils literal"><span class="pre">blink</span></tt>, <tt class="docutils literal"><span class="pre">reverse</span></tt> y <tt class="docutils literal"><span class="pre">conceal</span></tt>.</p>
<p>También puedes configurar estos colores y opciones dentro del nombre de la etiqueta:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// texto verde</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;fg=green&gt;foo&lt;/fg=green&gt;&#39;</span><span class="p">);</span>

<span class="c1">// texto negro en fondo cian</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;fg=black;bg=cyan&gt;foo&lt;/fg=black;bg=cyan&gt;&#39;</span><span class="p">);</span>

<span class="c1">// text negro en fondo amarillo</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;bg=yellow;options=bold&gt;foo&lt;/bg=yellow;options=bold&gt;&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="utilizando-argumentos-de-ordenes">
<h2>Utilizando argumentos de ordenes<a class="headerlink" href="#utilizando-argumentos-de-ordenes" title="Enlazar permanentemente con este título">¶</a></h2>
<p>La parte más interesante de las ordenes son los argumentos y opciones que puedes hacer disponibles. Los argumentos son cadenas &#8212;separadas por espacios&#8212; que vienen después del nombre de la orden misma. Ellos están ordenados, y pueden ser opcionales u obligatorios. Por ejemplo, añade un argumento <tt class="docutils literal"><span class="pre">last_name</span></tt> opcional a la orden y haz que el argumento <tt class="docutils literal"><span class="pre">name</span></tt> sea obligatorio:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$this</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addArgument</span><span class="p">(</span>
        <span class="s1">&#39;name&#39;</span><span class="p">,</span>
        <span class="nx">InputArgument</span><span class="o">::</span><span class="na">REQUIRED</span><span class="p">,</span>
        <span class="s1">&#39;Who do you want to greet?&#39;</span>
    <span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">addArgument</span><span class="p">(</span>
        <span class="s1">&#39;last_name&#39;</span><span class="p">,</span>
        <span class="nx">InputArgument</span><span class="o">::</span><span class="na">OPTIONAL</span><span class="p">,</span>
        <span class="s1">&#39;Your last name?&#39;</span>
    <span class="p">);</span>
</pre></div>
</div>
<p>Ahora tienes acceso a un argumento <tt class="docutils literal"><span class="pre">last_name</span></tt> en la orden:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">if</span> <span class="p">(</span><span class="nv">$lastName</span> <span class="o">=</span> <span class="nv">$input</span><span class="o">-&gt;</span><span class="na">getArgument</span><span class="p">(</span><span class="s1">&#39;last_name&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="nv">$text</span> <span class="o">.=</span> <span class="s1">&#39; &#39;</span><span class="o">.</span><span class="nv">$lastName</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Ahora la orden se puede utilizar en cualquiera de las siguientes maneras:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>app/console demo:greet Fabien
<span class="nv">$ </span>app/console demo:greet Fabien Potencier
</pre></div>
</div>
</div>
<div class="section" id="usando-las-opciones-de-la-orden">
<h2>Usando las opciones de la orden<a class="headerlink" href="#usando-las-opciones-de-la-orden" title="Enlazar permanentemente con este título">¶</a></h2>
<p>A diferencia de los argumentos, las opciones no están ordenadas (lo cual significa que las puedes especificar en cualquier orden) y se especifican con dos guiones (por ejemplo, <tt class="docutils literal"><span class="pre">--yell</span></tt> también puedes declarar un atajo de una letra que puedes invocar con un único guión como <tt class="docutils literal"><span class="pre">-y</span></tt>). Las opciones son: <em>always</em> opcional, y se puede configurar para aceptar un valor (por ejemplo, <tt class="docutils literal"><span class="pre">dir=src</span></tt>) o simplemente como una variable lógica sin valor (por ejemplo, <tt class="docutils literal"><span class="pre">yell</span></tt>).</p>
<div class="admonition tip">
<p class="first admonition-title">Truco</p>
<p class="last">También es posible hacer que un argumento <em>opcionalmente</em> acepte un valor (de modo que <tt class="docutils literal"><span class="pre">--yell</span></tt> o <tt class="docutils literal"><span class="pre">yell=loud</span></tt> funcione). Las opciones también se pueden configurar para aceptar un arreglo de valores.</p>
</div>
<p>Por ejemplo, añadir una nueva opción a la orden que se puede usar para especificar cuántas veces se debe imprimir el mensaje en una fila:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$this</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addOption</span><span class="p">(</span>
        <span class="s1">&#39;iterations&#39;</span><span class="p">,</span>
        <span class="k">null</span><span class="p">,</span>
        <span class="nx">InputOption</span><span class="o">::</span><span class="na">VALUE_REQUIRED</span><span class="p">,</span>
        <span class="s1">&#39;How many times should the message be printed?&#39;</span><span class="p">,</span>
        <span class="mi">1</span>
    <span class="p">);</span>
</pre></div>
</div>
<p>A continuación, utilízalo en la orden para imprimir el mensaje varias veces:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">for</span> <span class="p">(</span><span class="nv">$i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span> <span class="nv">$i</span> <span class="o">&lt;</span> <span class="nv">$input</span><span class="o">-&gt;</span><span class="na">getOption</span><span class="p">(</span><span class="s1">&#39;iterations&#39;</span><span class="p">);</span> <span class="nv">$i</span><span class="o">++</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="nv">$text</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Ahora, al ejecutar la tarea, si lo deseas, puedes especificar un indicador <tt class="docutils literal"><span class="pre">--iterations</span></tt>:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>app/console demo:greet Fabien
<span class="nv">$ </span>app/console demo:greet Fabien --iterations<span class="o">=</span>5
</pre></div>
</div>
<p>El primer ejemplo sólo se imprimirá una vez, ya que <tt class="docutils literal"><span class="pre">iterations</span></tt> está vacía y el predeterminado es <tt class="docutils literal"><span class="pre">1</span></tt> (el último argumento de <tt class="docutils literal"><span class="pre">addOption</span></tt>). El segundo ejemplo se imprimirá cinco veces.</p>
<p>Recordemos que a las opciones no les preocupa su orden. Por lo tanto, cualquiera de las siguientes trabajará:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>app/console demo:greet Fabien --iterations<span class="o">=</span>5 --yell
<span class="nv">$ </span>app/console demo:greet Fabien --yell --iterations<span class="o">=</span>5
</pre></div>
</div>
<p>Hay 4 variantes de la opción que puedes utilizar:</p>
<table border="1" class="docutils">
<colgroup>
<col width="22%" />
<col width="78%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Opción</th>
<th class="head">Valor</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>InputOption::VALUE_IS_ARRAY</td>
<td>Esta opción acepta múltiples valores (por ejemplo: <tt class="docutils literal"><span class="pre">--dir=/foo</span> <span class="pre">--dir=/bar</span></tt>)</td>
</tr>
<tr class="row-odd"><td>InputOption::VALUE_NONE</td>
<td>No acepta entradas para esta opción (por ejemplo: <tt class="docutils literal"><span class="pre">--yell</span></tt>)</td>
</tr>
<tr class="row-even"><td>InputOption::VALUE_REQUIRED</td>
<td>Este valor es obligatorio (por ejemplo: <tt class="docutils literal"><span class="pre">--iterations=5</span></tt>), la opción en sí misma aún es opcional</td>
</tr>
<tr class="row-odd"><td>InputOption::VALUE_OPTIONAL</td>
<td>Esta opción puede o no tener un valor (por ejemplo: <tt class="docutils literal"><span class="pre">yell</span></tt> o <tt class="docutils literal"><span class="pre">yell=loud</span></tt>)</td>
</tr>
</tbody>
</table>
<p>Puedes combinar el VALUE_IS_ARRAY con VALUE_REQUIRED o VALUE_OPTIONAL de la siguiente manera:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$this</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addOption</span><span class="p">(</span>
        <span class="s1">&#39;iterations&#39;</span><span class="p">,</span>
        <span class="k">null</span><span class="p">,</span>
        <span class="nx">InputOption</span><span class="o">::</span><span class="na">VALUE_REQUIRED</span> <span class="o">|</span> <span class="nx">InputOption</span><span class="o">::</span><span class="na">VALUE_IS_ARRAY</span><span class="p">,</span>
        <span class="s1">&#39;How many times should the message be printed?&#39;</span><span class="p">,</span>
        <span class="mi">1</span>
    <span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="mostrando-una-barra-de-progreso">
<h2>Mostrando una barra de progreso<a class="headerlink" href="#mostrando-una-barra-de-progreso" title="Enlazar permanentemente con este título">¶</a></h2>
<p class="versionadded">
<span class="versionmodified">Nuevo en la versión 2.2: </span>El ayudante <tt class="docutils literal"><span class="pre">progress</span></tt> se añadió en <em>Symfony 2.2</em>.</p>
<p>Cuándo ejecutes órdenes que consumen demasiado tiempo en su ejecución, puede ser útil mostrar información de progreso, la cual se actualiza conforme se ejecuta la orden:</p>
<img alt="../../_images/progress.png" src="../../_images/progress.png" />
<p>Para mostrar detalles de progreso, usa la clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Console\Helper\ProgressHelper</span></tt>, pasándole el número total de unidades, y adelanta el progreso conforme se ejecute la orden:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$progress</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;progress&#39;</span><span class="p">);</span>

<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="nv">$output</span><span class="p">,</span> <span class="mi">50</span><span class="p">);</span>
<span class="nv">$i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
<span class="k">while</span> <span class="p">(</span><span class="nv">$i</span><span class="o">++</span> <span class="o">&lt;</span> <span class="mi">50</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// hace algún trabajo</span>

    <span class="c1">// avanza la barra de progreso 1 unidad</span>
    <span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">advance</span><span class="p">();</span>
<span class="p">}</span>

<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">finish</span><span class="p">();</span>
</pre></div>
</div>
<p>El aspecto de la barra de progreso se puede personalizar también, con una serie
de diferentes niveles de detalle. Cada uno de los cuales muestra los diferentes elementos posibles &#8212;tal cómo porcentaje completado, una barra de progreso en movimiento, o información actual/total (por ejemplo, 10/50):</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_QUIET</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_NORMAL</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_VERBOSE</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_QUIET_NOMAX</span><span class="p">);</span>
<span class="c1">// el valor predefinido</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_NORMAL_NOMAX</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_VERBOSE_NOMAX</span><span class="p">);</span>
</pre></div>
</div>
<p>También puedes controlar los diferentes caracteres y el ancho utilizado por la barra de progreso:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// la parte terminada de la barra</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setBarCharacter</span><span class="p">(</span><span class="s1">&#39;&lt;comment&gt;=&lt;/comment&gt;&#39;</span><span class="p">);</span>
<span class="c1">// la parte inacabada de la barra</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setEmptyBarCharacter</span><span class="p">(</span><span class="s1">&#39; &#39;</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setProgressCharacter</span><span class="p">(</span><span class="s1">&#39;|&#39;</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setBarWidth</span><span class="p">(</span><span class="mi">50</span><span class="p">);</span>
</pre></div>
</div>
<p>Para ver otras opciones disponibles, revisa la clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Console\Helper\ProgressHelper</span></tt> en la documentación de la <em>API</em>.</p>
<div class="admonition caution">
<p class="first admonition-title">Prudencia</p>
<p>Por razones de rendimiento, se prudente en no poner la cantidad total de pasos a un número alto. Por ejemplo, si estás iterando sobre una gran cantidad de elementos, considera un número de «paso» más pequeño que se actualizace en algunas iteraciones únicamente:</p>
<div class="last highlight-php"><div class="highlight"><pre><span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="nv">$output</span><span class="p">,</span> <span class="mi">500</span><span class="p">);</span>
<span class="nv">$i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
<span class="k">while</span> <span class="p">(</span><span class="nv">$i</span><span class="o">++</span> <span class="o">&lt;</span> <span class="mi">50000</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ... hace algún trabajo</span>

    <span class="c1">// avanza cada 100 iteraciones</span>
    <span class="k">if</span> <span class="p">(</span><span class="nv">$i</span> <span class="o">%</span> <span class="mi">100</span> <span class="o">==</span> <span class="mi">0</span><span class="p">)</span> <span class="p">{</span>
        <span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">advance</span><span class="p">();</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="ayudantes-de-consola">
<h2>Ayudantes de consola<a class="headerlink" href="#ayudantes-de-consola" title="Enlazar permanentemente con este título">¶</a></h2>
<p>El componente <tt class="docutils literal"><span class="pre">console</span></tt> también contiene un conjunto de «ayudantes» &#8212;pequeñas herramientas capaces de ayudarte con diferentes tareas&#8212;:</p>
<ul class="simple">
<li><a class="reference internal" href="helpers/dialoghelper.html"><em>Ayudantes de diálogo</em></a>: Pregunta interactivamente determinada información al usuario</li>
<li><a class="reference internal" href="helpers/formatterhelper.html"><em>Ayudante formateador</em></a>: Personaliza la colorización del resultado</li>
</ul>
</div>
<div class="section" id="probando-ordenes">
<h2>Probando ordenes<a class="headerlink" href="#probando-ordenes" title="Enlazar permanentemente con este título">¶</a></h2>
<p><em>Symfony2</em> proporciona varias herramientas para ayudarte a probar tus ordenes. La más útil es la clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Console\Tester\CommandTester</span></tt>. Esta utiliza clases entrada y salida especiales para facilitar la prueba sin una consola real:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Console\Application</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Tester\CommandTester</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Acme\DemoBundle\Command\GreetCommand</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">ListCommandTest</span> <span class="k">extends</span> <span class="nx">\PHPUnit_Framework_TestCase</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">testExecute</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$application</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Application</span><span class="p">();</span>
        <span class="nv">$application</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="k">new</span> <span class="nx">GreetCommand</span><span class="p">());</span>

        <span class="nv">$command</span> <span class="o">=</span> <span class="nv">$application</span><span class="o">-&gt;</span><span class="na">find</span><span class="p">(</span><span class="s1">&#39;demo:greet&#39;</span><span class="p">);</span>
        <span class="nv">$commandTester</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">CommandTester</span><span class="p">(</span><span class="nv">$command</span><span class="p">);</span>
        <span class="nv">$commandTester</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;command&#39;</span> <span class="o">=&gt;</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">()));</span>

        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">assertRegExp</span><span class="p">(</span><span class="s1">&#39;/.../&#39;</span><span class="p">,</span> <span class="nv">$commandTester</span><span class="o">-&gt;</span><span class="na">getDisplay</span><span class="p">());</span>

        <span class="c1">// ...</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>El método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Tester/CommandTester.html#method_getDisplay" title="Symfony\Component\Console\Tester\CommandTester::getDisplay()"><span class="pre">getDisplay()</span></a></tt> devuelve lo que se ha exhibido durante una llamada normal de la consola.</p>
<p>Puedes probar enviando argumentos y opciones a la orden pasándolos como un arreglo al método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Tester/CommandTester.html#method_execute" title="Symfony\Component\Console\Tester\CommandTester::execute()"><span class="pre">execute()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Console\Application</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Tester\CommandTester</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Acme\DemoBundle\Command\GreetCommand</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">ListCommandTest</span> <span class="k">extends</span> <span class="nx">\PHPUnit_Framework_TestCase</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">testNameIsOutput</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$application</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Application</span><span class="p">();</span>
        <span class="nv">$application</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="k">new</span> <span class="nx">GreetCommand</span><span class="p">());</span>

        <span class="nv">$command</span> <span class="o">=</span> <span class="nv">$application</span><span class="o">-&gt;</span><span class="na">find</span><span class="p">(</span><span class="s1">&#39;demo:greet&#39;</span><span class="p">);</span>
        <span class="nv">$commandTester</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">CommandTester</span><span class="p">(</span><span class="nv">$command</span><span class="p">);</span>
        <span class="nv">$commandTester</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span>
            <span class="k">array</span><span class="p">(</span><span class="s1">&#39;command&#39;</span> <span class="o">=&gt;</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">(),</span> <span class="s1">&#39;name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Fabien&#39;</span><span class="p">)</span>
        <span class="p">);</span>

        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">assertRegExp</span><span class="p">(</span><span class="s1">&#39;/Fabien/&#39;</span><span class="p">,</span> <span class="nv">$commandTester</span><span class="o">-&gt;</span><span class="na">getDisplay</span><span class="p">());</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Truco</p>
<p class="last">También puedes probar toda una aplicación de consola utilizando <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Console\Tester\ApplicationTester</span></tt>.</p>
</div>
</div>
<div class="section" id="llamando-una-orden-existente">
<h2>Llamando una orden existente<a class="headerlink" href="#llamando-una-orden-existente" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Si una orden depende de que se ejecute otra antes, en lugar de obligar al usuario a recordar el orden de ejecución, puedes llamarla directamente tú mismo.
Esto también es útil si deseas crear una «metaorden» que ejecute un montón de otras ordenes (por ejemplo, todas las ordenes que se deben ejecutar cuando el código del proyecto ha cambiado en los servidores de producción: vaciar la caché, generar delegados <em>Doctrine2</em>, volcar activos <tt class="docutils literal"><span class="pre">Assetic</span></tt>, ...).</p>
<p>Llamar a una orden desde otra es sencillo:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">protected</span> <span class="k">function</span> <span class="nf">execute</span><span class="p">(</span><span class="nx">InputInterface</span> <span class="nv">$input</span><span class="p">,</span> <span class="nx">OutputInterface</span> <span class="nv">$output</span><span class="p">)</span>
<span class="p">{</span>
    <span class="nv">$command</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getApplication</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">find</span><span class="p">(</span><span class="s1">&#39;demo:greet&#39;</span><span class="p">);</span>

    <span class="nv">$arguments</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;command&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;demo:greet&#39;</span><span class="p">,</span>
        <span class="s1">&#39;name&#39;</span>    <span class="o">=&gt;</span> <span class="s1">&#39;Fabien&#39;</span><span class="p">,</span>
        <span class="s1">&#39;--yell&#39;</span>  <span class="o">=&gt;</span> <span class="k">true</span><span class="p">,</span>
    <span class="p">);</span>

    <span class="nv">$input</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ArrayInput</span><span class="p">(</span><span class="nv">$arguments</span><span class="p">);</span>
    <span class="nv">$returnCode</span> <span class="o">=</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">run</span><span class="p">(</span><span class="nv">$input</span><span class="p">,</span> <span class="nv">$output</span><span class="p">);</span>

    <span class="c1">// ...</span>
<span class="p">}</span>
</pre></div>
</div>
<p>En primer lugar, tu <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Application.html#method_find" title="Symfony\Component\Console\Application::find()"><span class="pre">find()</span></a></tt> busca la orden que deseas ejecutar pasando el nombre de la orden.</p>
<p>Entonces, es necesario crear una nueva clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Console\Input\ArrayInput</span></tt> con los argumentos y opciones que desees pasar a la orden.</p>
<p>Finalmente, invocar al método <tt class="docutils literal"><span class="pre">run()</span></tt> ejecuta la orden realmente y devuelve el código regresado por la orden (el valor del método <tt class="docutils literal"><span class="pre">execute()</span></tt>).</p>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">La mayor parte del tiempo, llamar a una orden desde código que no se ejecuta en la línea de ordenes no es una buena idea por varias razones. En primer lugar, la salida de la orden se ha optimizado para la consola. Pero lo más importante, puedes pensar de una orden como si fuera un controlador; este debe utilizar el modelo para hacer algo y mostrar algún comentario al usuario. Así, en lugar de llamar una orden desde la <em>Web</em>, reconstruye tu código y mueve la lógica a una nueva clase.</p>
</div>
</div>
<div class="section" id="aprende-mas">
<h2>¡Aprende más!<a class="headerlink" href="#aprende-mas" title="Enlazar permanentemente con este título">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="usage.html"><em>Usando órdenes de consola, atajos y órdenes integradas</em></a></li>
<li><a class="reference internal" href="single_command_tool.html"><em>Cómo construir una aplicación que sea de una sola orden</em></a></li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="usage.html" title="Usando órdenes de consola, atajos y órdenes integradas"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="index.html" title="Consola"
             >anterior</a> |</li>
        <li><a href="../../index.html">en Español</a> &raquo;</li>
          <li><a href="../index.html" >Componentes</a> &raquo;</li>
          <li><a href="index.html" >Consola</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2013, Traducido por Nacho Pacheco.
      Actualizado por última vez en Jan 16, 2013.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>