
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>El componente ClassLoader &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.0.13',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/translations.js"></script>
    <link rel="shortcut icon" href="../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../index.html" />
    <link rel="up" title="Componentes" href="index.html" />
    <link rel="next" title="El componente Console" href="console.html" />
    <link rel="prev" title="Componentes" href="index.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="http://gitnacho.github.com/tnp/"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="console.html" title="El componente Console"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="index.html" title="Componentes"
             accesskey="P">anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="el-componente-classloader">
<span id="index-0"></span><h1>El componente <tt class="docutils literal"><span class="pre">ClassLoader</span></tt><a class="headerlink" href="#el-componente-classloader" title="Enlazar permanentemente con este título">¶</a></h1>
<blockquote>
<div>El componente <tt class="docutils literal"><span class="pre">ClassLoader</span></tt> carga automáticamente las clases de tu proyecto si siguen algunas convenciones estándar de <em>PHP</em>.</div></blockquote>
<p>Siempre que uses una clase no definida, <em>PHP</em> utiliza el mecanismo de carga automática para delegar la carga de un archivo de definición de clase. <em>Symfony2</em> proporciona un cargador automático &#8220;universal&#8221;, que es capaz de cargar clases desde los archivos que implementan uno los siguientes convenios:</p>
<ul class="simple">
<li>Los <a class="reference external" href="http://symfony.com/PSR0">estándares</a> de interoperabilidad técnica para los espacios de nombres y nombres de clases de <em>PHP 5.3</em>;</li>
<li>La convención de nomenclatura de clases de <a class="reference external" href="http://pear.php.net/manual/en/standards.php">PEAR</a>.</li>
</ul>
<p>Si tus clases y las bibliotecas de terceros que utilizas en tu proyecto siguen estas normas, el cargador automático de <em>Symfony2</em> es el único cargador automático que necesitarás siempre.</p>
<div class="section" id="instalando">
<h2>Instalando<a class="headerlink" href="#instalando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Puedes instalar el componente de varias maneras diferentes:</p>
<ul class="simple">
<li>Usando el repositorio <em>Git</em> oficial (<a class="reference external" href="https://github.com/symfony/ClassLoader">https://github.com/symfony/ClassLoader</a>);</li>
<li>Instalándolo a través de <em>PEAR</em> ( <cite>pear.symfony.com/ClassLoader</cite>);</li>
<li>Instalándolo vía <tt class="docutils literal"><span class="pre">Composer</span></tt> (<cite>symfony/class-loader</cite> en Packagist).</li>
</ul>
</div>
<div class="section" id="usando">
<h2>Usando<a class="headerlink" href="#usando" title="Enlazar permanentemente con este título">¶</a></h2>
<p class="versionadded">
<span class="versionmodified">Nuevo en la versión 2.1: </span>El método <tt class="docutils literal"><span class="pre">useIncludePath</span></tt> se agregó en <em>Symfony</em> 2.1.</p>
<p>Registrar la clase del cargador automático <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\ClassLoader\UniversalClassLoader</span></tt> es sencillo:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">require_once</span> <span class="s1">&#39;/ruta/a/src/Symfony/Component/ClassLoader/UniversalClassLoader.php&#39;</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\ClassLoader\UniversalClassLoader</span><span class="p">;</span>

<span class="nv">$loader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">UniversalClassLoader</span><span class="p">();</span>

<span class="c1">// aquí registra el espacio de nombres y prefijos (ve más abajo)</span>

<span class="c1">// como último recurso busca en include_path.</span>
<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">useIncludePath</span><span class="p">(</span><span class="k">true</span><span class="p">);</span>

<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">register</span><span class="p">();</span>
</pre></div>
</div>
<p>Para una menor ganancia en rendimiento puedes memorizar en caché las rutas de las clases usando <em>APC</em>, con sólo registrar la clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\ClassLoader\ApcUniversalClassLoader</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">require_once</span> <span class="s1">&#39;/ruta/a/src/Symfony/Component/ClassLoader/UniversalClassLoader.php&#39;</span><span class="p">;</span>
<span class="k">require_once</span> <span class="s1">&#39;/ruta/a/src/Symfony/Component/ClassLoader/ApcUniversalClassLoader.php&#39;</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\ClassLoader\ApcUniversalClassLoader</span><span class="p">;</span>

<span class="nv">$loader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ApcUniversalClassLoader</span><span class="p">(</span><span class="s1">&#39;apc.prefix.&#39;</span><span class="p">);</span>
<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">register</span><span class="p">();</span>
</pre></div>
</div>
<p>El cargador automático es útil sólo si agregas algunas bibliotecas al cargador automático.</p>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">El autocargador se registra automáticamente en una aplicación <em>Symfony2</em> (consulta el <tt class="docutils literal"><span class="pre">app/autoload.php</span></tt>).</p>
</div>
<p>Si las clases a cargar automáticamente utilizan espacios de nombres, utiliza cualquiera de los métodos <a href="#id1"><span class="problematic" id="id2">:method:`Symfony\\Component\\ClassLoader\\UniversalClassLoader::registerNamespace`</span></a> o <a href="#id3"><span class="problematic" id="id4">:method:`Symfony\\Component\\ClassLoader\\UniversalClassLoader::registerNamespaces`</span></a>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">registerNamespace</span><span class="p">(</span><span class="s1">&#39;Symfony&#39;</span><span class="p">,</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/symfony/symfony/src&#39;</span><span class="p">);</span>

<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">registerNamespaces</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Symfony&#39;</span> <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/../vendor/symfony/symfony/src&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Monolog&#39;</span> <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/../vendor/monolog/monolog/src&#39;</span><span class="p">,</span>
<span class="p">));</span>

<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">register</span><span class="p">();</span>
</pre></div>
</div>
<p>Para las clases que siguen la convención de nomenclatura de PEAR, utiliza cualquiera de los métodos <a href="#id5"><span class="problematic" id="id6">:method:`Symfony\\Component\\ClassLoader\\UniversalClassLoader::registerPrefix`</span></a> o <a href="#id7"><span class="problematic" id="id8">:method:`Symfony\\Component\\ClassLoader\\UniversalClassLoader::registerPrefixes`</span></a>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">registerPrefix</span><span class="p">(</span><span class="s1">&#39;Twig_&#39;</span><span class="p">,</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/twig/twig/lib&#39;</span><span class="p">);</span>

<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">registerPrefixes</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Swift_&#39;</span> <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/swiftmailer/swiftmailer/lib/classes&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Twig_&#39;</span>  <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/twig/twig/lib&#39;</span><span class="p">,</span>
<span class="p">));</span>

<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">register</span><span class="p">();</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Algunas bibliotecas también requieren que su ruta de acceso raíz esté registrada en la ruta de include <em>PHP</em> (<tt class="docutils literal"><span class="pre">set_include_path()</span></tt>).</p>
</div>
<p>Las clases de un subespacio de nombres o una subjerarquía de clases <em>PEAR</em> se puede buscar en una lista de ubicaciones para facilitar la utilización de un subconjunto de clases de terceros para los grandes proyectos:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">registerNamespaces</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Doctrine\\Common&#39;</span>           <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/doctrine/common/lib&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Doctrine\\DBAL\\Migrations&#39;</span> <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/doctrine/migrations/lib&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Doctrine\\DBAL&#39;</span>             <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/doctrine/dbal/lib&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Doctrine&#39;</span>                   <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/doctrine/orm/lib&#39;</span><span class="p">,</span>
<span class="p">));</span>

<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">register</span><span class="p">();</span>
</pre></div>
</div>
<p>En este ejemplo, si intentas utilizar una clase en el espacio de nombres <tt class="docutils literal"><span class="pre">Doctrine\Common</span></tt> o una de sus hijas, el cargador automático buscará primero la clase en el directorio <tt class="docutils literal"><span class="pre">doctrine\common</span></tt>, y entonces, si no se encuentra, vuelve al directorio de reserva predeterminado <tt class="docutils literal"><span class="pre">doctrine</span></tt> (el último configurado) antes de darse por vencido.
El orden de registro es importante en este caso.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="console.html" title="El componente Console"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="index.html" title="Componentes"
             >anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" >Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2012, Traducido por Nacho Pacheco.
      Actualizado por última vez en May 07, 2012.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.2.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>