
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>El componente Finder &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/translations.js"></script>
    <link rel="shortcut icon" href="../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../index.html" />
    <link rel="up" title="Componentes" href="index.html" />
    <link rel="next" title="Fundamento HTTP" href="http_foundation/index.html" />
    <link rel="prev" title="Contenedor consciente del despachador de eventos" href="event_dispatcher/container_aware_dispatcher.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="http://gitnacho.github.com/tnp/"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="http_foundation/index.html" title="Fundamento HTTP"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="event_dispatcher/container_aware_dispatcher.html" title="Contenedor consciente del despachador de eventos"
             accesskey="P">anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="el-componente-finder">
<span id="index-0"></span><h1>El componente <tt class="docutils literal"><span class="pre">Finder</span></tt><a class="headerlink" href="#el-componente-finder" title="Enlazar permanentemente con este título">¶</a></h1>
<blockquote>
<div>El componente <tt class="docutils literal"><span class="pre">Finder</span></tt> busca archivos y directorios a través de una sencilla e intuitiva interfaz.</div></blockquote>
<div class="section" id="instalando">
<h2>Instalando<a class="headerlink" href="#instalando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Puedes instalar el componente de varias maneras diferentes:</p>
<ul class="simple">
<li>Usando el repositorio <em>Git</em> oficial (<a class="reference external" href="https://github.com/symfony/Finder">https://github.com/symfony/Finder</a>);</li>
<li>Instalándolo a través de <em>PEAR</em> ( <cite>pear.symfony.com/Finder</cite>);</li>
<li>Instalándolo vía <tt class="docutils literal"><span class="pre">Composer</span></tt> (<cite>symfony/finder</cite> en Packagist).</li>
</ul>
</div>
<div class="section" id="usando">
<h2>Usando<a class="headerlink" href="#usando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>La clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Finder\Finder</span></tt> busca archivos y/o
directorios:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Finder\Finder</span><span class="p">;</span>

<span class="nv">$finder</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Finder</span><span class="p">();</span>
<span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">in</span><span class="p">(</span><span class="nx">__DIR__</span><span class="p">);</span>

<span class="k">foreach</span> <span class="p">(</span><span class="nv">$finder</span> <span class="k">as</span> <span class="nv">$file</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Imprime la ruta absoluta</span>
    <span class="k">print</span> <span class="nv">$file</span><span class="o">-&gt;</span><span class="na">getRealpath</span><span class="p">()</span><span class="o">.</span><span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">;</span>
    <span class="c1">// Imprime la ruta relativa al archivo, omitiendo el nombre de archivo</span>
    <span class="k">print</span> <span class="nv">$file</span><span class="o">-&gt;</span><span class="na">getRelativePath</span><span class="p">()</span><span class="o">.</span><span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">;</span>
    <span class="c1">// Imprime la ruta relativa para el archivo</span>
    <span class="k">print</span> <span class="nv">$file</span><span class="o">-&gt;</span><span class="na">getRelativePathname</span><span class="p">()</span><span class="o">.</span><span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</div>
<p><tt class="docutils literal"><span class="pre">$file</span></tt> es una instancia de <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Finder\SplFileInfo</span></tt> la cual extiende a <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.splfileinfo.php" title="SplFileInfo"><span class="pre">SplFileInfo</span></a></tt> para proporcionar métodos para trabajar con rutas relativas.</p>
<p>El código anterior imprime recursivamente los nombres de todos los archivos en el directorio actual. La clase <tt class="docutils literal"><span class="pre">Finder</span></tt> utiliza una interfaz fluida, por lo que todos los métodos devuelven la instancia del <tt class="docutils literal"><span class="pre">Finder</span></tt>.</p>
<div class="admonition tip">
<p class="first admonition-title">Truco</p>
<p class="last">Una instancia <tt class="docutils literal"><span class="pre">Finder</span></tt> es un <a class="reference external" href="http://www.php.net/manual/es/spl.iterators.php">iterador</a> <em>PHP</em>. Por tanto, en lugar de iterar sobre el <tt class="docutils literal"><span class="pre">Finder</span></tt> con <tt class="docutils literal"><span class="pre">foreach</span></tt>, también lo puedes convertir en una matriz con el método <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.iterator-to-array.php" title="iterator_to_array"><span class="pre">iterator_to_array</span></a></tt> u obtener el número de elementos con <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.iterator-count.php" title="iterator_count"><span class="pre">iterator_count</span></a></tt>.</p>
</div>
</div>
<div class="section" id="criterios">
<h2>Criterios<a class="headerlink" href="#criterios" title="Enlazar permanentemente con este título">¶</a></h2>
<div class="section" id="ubicacion">
<h3>Ubicación<a class="headerlink" href="#ubicacion" title="Enlazar permanentemente con este título">¶</a></h3>
<p>La ubicación es el único criterio obligatorio. Este dice al buscador cual directorio utilizar para la búsqueda:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">in</span><span class="p">(</span><span class="nx">__DIR__</span><span class="p">);</span>
</pre></div>
</div>
<p>Busca en varios lugares encadenando llamadas al método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_in" title="Symfony\Component\Finder\Finder::in()"><span class="pre">in()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">in</span><span class="p">(</span><span class="nx">__DIR__</span><span class="p">)</span><span class="o">-&gt;</span><span class="na">in</span><span class="p">(</span><span class="s1">&#39;/elsewhere&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Excluye directorios coincidentes con el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_exclude" title="Symfony\Component\Finder\Finder::exclude()"><span class="pre">exclude()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">in</span><span class="p">(</span><span class="nx">__DIR__</span><span class="p">)</span><span class="o">-&gt;</span><span class="na">exclude</span><span class="p">(</span><span class="s1">&#39;ruby&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Debido a que <tt class="docutils literal"><span class="pre">Finder</span></tt> utiliza iteradores <em>PHP</em>, puedes pasar cualquier <em>URL</em> compatible con <a class="reference external" href="http://www.php.net/manual/es/wrappers.php">protocolo</a>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">in</span><span class="p">(</span><span class="s1">&#39;ftp://ejemplo.com/pub/&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Y también trabaja con flujos definidos por el usuario:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Finder\Finder</span><span class="p">;</span>

<span class="nv">$s3</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">\Zend_Service_Amazon_S3</span><span class="p">(</span><span class="nv">$key</span><span class="p">,</span> <span class="nv">$secret</span><span class="p">);</span>
<span class="nv">$s3</span><span class="o">-&gt;</span><span class="na">registerStreamWrapper</span><span class="p">(</span><span class="s2">&quot;s3&quot;</span><span class="p">);</span>

<span class="nv">$finder</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Finder</span><span class="p">();</span>
<span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">name</span><span class="p">(</span><span class="s1">&#39;photos*&#39;</span><span class="p">)</span><span class="o">-&gt;</span><span class="na">size</span><span class="p">(</span><span class="s1">&#39;&lt; 100K&#39;</span><span class="p">)</span><span class="o">-&gt;</span><span class="na">date</span><span class="p">(</span><span class="s1">&#39;since 1 hour ago&#39;</span><span class="p">);</span>
<span class="k">foreach</span> <span class="p">(</span><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">in</span><span class="p">(</span><span class="s1">&#39;s3://bucket-name&#39;</span><span class="p">)</span> <span class="k">as</span> <span class="nv">$file</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Haz algo</span>

    <span class="k">print</span> <span class="nv">$file</span><span class="o">-&gt;</span><span class="na">getFilename</span><span class="p">()</span><span class="o">.</span><span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Lee la documentación de <a class="reference external" href="http://www.php.net/streams">Flujos</a> para aprender a crear tus propios flujos.</p>
</div>
</div>
<div class="section" id="archivos-o-directorios">
<h3>Archivos o directorios<a class="headerlink" href="#archivos-o-directorios" title="Enlazar permanentemente con este título">¶</a></h3>
<p>De manera predeterminada, <tt class="docutils literal"><span class="pre">Finder</span></tt> recorre directorios recurrentemente. Pero los métodos <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_files" title="Symfony\Component\Finder\Finder::files()"><span class="pre">files()</span></a></tt> y
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_directories" title="Symfony\Component\Finder\Finder::directories()"><span class="pre">directories()</span></a></tt> controlan:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">();</span>

<span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">directories</span><span class="p">();</span>
</pre></div>
</div>
<p>Si quieres seguir los enlaces, utiliza el método <tt class="docutils literal"><span class="pre">followLinks()</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">followLinks</span><span class="p">();</span>
</pre></div>
</div>
<p>De forma predeterminada, el iterador ignora archivos VCS populares. Esto se puede cambiar con el método <tt class="docutils literal"><span class="pre">ignoreVCS()</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">ignoreVCS</span><span class="p">(</span><span class="k">false</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="ordenacion">
<h3>Ordenación<a class="headerlink" href="#ordenacion" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Ordena el resultado por nombre o por tipo (primero directorios, luego archivos):</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">sortByName</span><span class="p">();</span>

<span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">sortByType</span><span class="p">();</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Ten en cuenta que los métodos <tt class="docutils literal"><span class="pre">sort*</span></tt> necesitan obtener todos los elementos para hacer su trabajo. Para iteradores grandes, es lento.</p>
</div>
<p>También puedes definir tu propio algoritmo de ordenación con el método <tt class="docutils literal"><span class="pre">sort()</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$sort</span> <span class="o">=</span> <span class="k">function</span> <span class="p">(</span><span class="nx">\SplFileInfo</span> <span class="nv">$a</span><span class="p">,</span> <span class="nx">\SplFileInfo</span> <span class="nv">$b</span><span class="p">)</span>
<span class="p">{</span>
    <span class="k">return</span> <span class="nb">strcmp</span><span class="p">(</span><span class="nv">$a</span><span class="o">-&gt;</span><span class="na">getRealpath</span><span class="p">(),</span> <span class="nv">$b</span><span class="o">-&gt;</span><span class="na">getRealpath</span><span class="p">());</span>
<span class="p">};</span>

<span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">sort</span><span class="p">(</span><span class="nv">$sort</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="nombre-de-archivo">
<h3>Nombre de archivo<a class="headerlink" href="#nombre-de-archivo" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Filtra archivos por nombre con el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_name" title="Symfony\Component\Finder\Finder::name()"><span class="pre">name()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">name</span><span class="p">(</span><span class="s1">&#39;*.php&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>El método <tt class="docutils literal"><span class="pre">name()</span></tt> acepta globos, cadenas o expresiones regulares:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">name</span><span class="p">(</span><span class="s1">&#39;/\.php$/&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>El método <tt class="docutils literal"><span class="pre">notName()</span></tt> excluye archivos coincidentes con un patrón:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">notName</span><span class="p">(</span><span class="s1">&#39;*.rb&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="contenido-del-archivo">
<h3>Contenido del archivo<a class="headerlink" href="#contenido-del-archivo" title="Enlazar permanentemente con este título">¶</a></h3>
<p class="versionadded">
<span class="versionmodified">Nuevo en la versión 2.1: </span>Los métodos <tt class="docutils literal"><span class="pre">contains()</span></tt> y <tt class="docutils literal"><span class="pre">notContains()</span></tt> se introdujeron en la versión 2.1.</p>
<p>Restringiendo el contenido de archivos con el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_contains" title="Symfony\Component\Finder\Finder::contains()"><span class="pre">contains()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">contains</span><span class="p">(</span><span class="s1">&#39;lorem ipsum&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>El método <tt class="docutils literal"><span class="pre">contains()</span></tt> acepta cadenas o expresiones regulares:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">contains</span><span class="p">(</span><span class="s1">&#39;/lorem\s+ipsum$/i&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>El método <tt class="docutils literal"><span class="pre">notContains()</span></tt> excluye archivos que contienen un determinado patrón:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">notContains</span><span class="p">(</span><span class="s1">&#39;dolor sit amet&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="tamano-de-archivo">
<h3>Tamaño de archivo<a class="headerlink" href="#tamano-de-archivo" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Filtra archivos por tamaño con el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_size" title="Symfony\Component\Finder\Finder::size()"><span class="pre">size()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">size</span><span class="p">(</span><span class="s1">&#39;&lt; 1.5K&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Filtra por rangos de tamaño encadenando llamadas a:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">size</span><span class="p">(</span><span class="s1">&#39;&gt;= 1K&#39;</span><span class="p">)</span><span class="o">-&gt;</span><span class="na">size</span><span class="p">(</span><span class="s1">&#39;&lt;= 2K&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>El operador de comparación puede ser cualquiera de los siguientes: <tt class="docutils literal"><span class="pre">&gt;</span></tt>, <tt class="docutils literal"><span class="pre">&gt;=</span></tt>, <tt class="docutils literal"><span class="pre">&lt;</span></tt>, <tt class="docutils literal"><span class="pre">&lt;=</span></tt>,
<tt class="docutils literal"><span class="pre">==</span></tt>, <tt class="docutils literal"><span class="pre">!=</span></tt>.</p>
<p class="versionadded">
<span class="versionmodified">Nuevo en la versión 2.1: </span>El operador <tt class="docutils literal"><span class="pre">!=</span></tt> se añadió en la versión 2.1.</p>
<p>El valor destino puede utilizar magnitudes de <em>kilobytes</em> (<tt class="docutils literal"><span class="pre">k</span></tt>, <tt class="docutils literal"><span class="pre">ki</span></tt>), <em>megabytes</em> (<tt class="docutils literal"><span class="pre">m</span></tt>, <tt class="docutils literal"><span class="pre">mi</span></tt>), o <em>gigabytes</em> (<tt class="docutils literal"><span class="pre">g</span></tt>, <tt class="docutils literal"><span class="pre">gi</span></tt>). Los sufijos con una <tt class="docutils literal"><span class="pre">i</span></tt> usan la versión <tt class="docutils literal"><span class="pre">2**n</span></tt> adecuada de acuerdo al <a class="reference external" href="http://physics.nist.gov/cuu/Units/binary.html">estándar IEC</a>.</p>
</div>
<div class="section" id="fecha-de-archivo">
<h3>Fecha de archivo<a class="headerlink" href="#fecha-de-archivo" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Filtra archivos por fecha de última modificación con el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_date" title="Symfony\Component\Finder\Finder::date()"><span class="pre">date()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">date</span><span class="p">(</span><span class="s1">&#39;since yesterday&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>El operador de comparación puede ser cualquiera de los siguientes: <tt class="docutils literal"><span class="pre">&gt;</span></tt>, <tt class="docutils literal"><span class="pre">&gt;=</span></tt>, <tt class="docutils literal"><span class="pre">&lt;</span></tt>, <tt class="docutils literal"><span class="pre">&lt;=</span></tt>,
<tt class="docutils literal"><span class="pre">==</span></tt>. También puedes utilizar <tt class="docutils literal"><span class="pre">since</span></tt> o <tt class="docutils literal"><span class="pre">after</span></tt> como alias para <tt class="docutils literal"><span class="pre">&gt;</span></tt>, y <tt class="docutils literal"><span class="pre">until</span></tt> o <tt class="docutils literal"><span class="pre">before</span></tt> como alias para <tt class="docutils literal"><span class="pre">&lt;</span></tt>.</p>
<p>El valor destino puede ser cualquier fecha compatible con la función <a class="reference external" href="http://www.php.net/manual/es/datetime.formats.php">strtotime</a>.</p>
</div>
<div class="section" id="profundidad-de-directorio">
<h3>Profundidad de directorio<a class="headerlink" href="#profundidad-de-directorio" title="Enlazar permanentemente con este título">¶</a></h3>
<p>De manera predeterminada, <tt class="docutils literal"><span class="pre">Finder</span></tt> recorre directorios recurrentemente. Filtra la profundidad del recorrido con el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_depth" title="Symfony\Component\Finder\Finder::depth()"><span class="pre">depth()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">depth</span><span class="p">(</span><span class="s1">&#39;== 0&#39;</span><span class="p">);</span>
<span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">depth</span><span class="p">(</span><span class="s1">&#39;&lt; 3&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="filtrado-personalizado">
<h3>Filtrado personalizado<a class="headerlink" href="#filtrado-personalizado" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Para restringir que el archivo coincida con su propia estrategia, utiliza el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_filter" title="Symfony\Component\Finder\Finder::filter()"><span class="pre">filter()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$filter</span> <span class="o">=</span> <span class="k">function</span> <span class="p">(</span><span class="nx">\SplFileInfo</span> <span class="nv">$file</span><span class="p">)</span>
<span class="p">{</span>
    <span class="k">if</span> <span class="p">(</span><span class="nb">strlen</span><span class="p">(</span><span class="nv">$file</span><span class="p">)</span> <span class="o">&gt;</span> <span class="mi">10</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">return</span> <span class="k">false</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">};</span>

<span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">files</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">filter</span><span class="p">(</span><span class="nv">$filtro</span><span class="p">);</span>
</pre></div>
</div>
<p>El método <tt class="docutils literal"><span class="pre">filter()</span></tt> toma un cierre como argumento. Por cada archivo coincidente, este es invocado con el archivo como una instancia de <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Finder\SplFileInfo</span></tt>. El archivo se excluye del conjunto de resultados si el cierre devuelve <tt class="docutils literal"><span class="pre">false</span></tt>.</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="http_foundation/index.html" title="Fundamento HTTP"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="event_dispatcher/container_aware_dispatcher.html" title="Contenedor consciente del despachador de eventos"
             >anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" >Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2012, Traducido por Nacho Pacheco.
      Actualizado por última vez en Jun 01, 2012.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.2.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>