
<!DOCTYPE html> 
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Componentes &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/translations.js"></script>
    <link rel="shortcut icon" href="../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../index.html" />
    <link rel="next" title="Cómo instalar y usar componentes de Symfony2" href="using_components.html" />
    <link rel="prev" title="Cómo desplegar una aplicación Symfony2" href="../cookbook/deployment-tools.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="../index.html"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="using_components.html" title="Cómo instalar y usar componentes de Symfony2"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="../cookbook/deployment-tools.html" title="Cómo desplegar una aplicación Symfony2"
             accesskey="P">anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="componentes">
<h1>Componentes<a class="headerlink" href="#componentes" title="Enlazar permanentemente con este título">¶</a></h1>
<div class="toctree-wrapper compound">
</div>
<ul class="simple">
<li><a class="reference internal" href="using_components.html"><em>Cómo instalar y usar componentes de Symfony2</em></a></li>
<li><strong>Cargador de clases</strong><ul>
<li><a class="reference internal" href="class_loader.html"><em>El componente ClassLoader</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="config/index.html"><em>Config</em></a><ul>
<li><a class="reference internal" href="config/introduction.html"><em>El componente Config</em></a></li>
<li><a class="reference internal" href="config/resources.html"><em>Cargando recursos</em></a></li>
<li><a class="reference internal" href="config/caching.html"><em>Almacenamiento en caché basado en recursos</em></a></li>
<li><a class="reference internal" href="config/definition.html"><em>Definiendo y procesando valores de configuración</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="console/index.html"><em>Consola</em></a><ul>
<li><a class="reference internal" href="console/introduction.html"><em>El componente Console</em></a></li>
<li><a class="reference internal" href="console/usage.html"><em>Usando órdenes de consola, atajos y órdenes integradas</em></a></li>
<li><a class="reference internal" href="console/single_command_tool.html"><em>Construyendo una aplicación de una sola orden</em></a></li>
<li><a class="reference internal" href="console/helpers/index.html"><em>Los ayudantes de consola</em></a></li>
</ul>
</li>
<li><strong>Selector CSS</strong><ul>
<li><a class="reference internal" href="css_selector.html"><em>El componente CssSelector</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="dependency_injection/index.html"><em>Inyección de dependencias</em></a><ul>
<li><a class="reference internal" href="dependency_injection/introduction.html"><em>El componente Inyección de dependencias</em></a></li>
<li><a class="reference internal" href="dependency_injection/types.html"><em>Tipos de inyección</em></a></li>
<li><a class="reference internal" href="dependency_injection/definitions.html"><em>Trabajando con contenedores de parámetros y definiciones</em></a></li>
<li><a class="reference internal" href="dependency_injection/compilation.html"><em>Compilando el contenedor</em></a></li>
<li><a class="reference internal" href="dependency_injection/tags.html"><em>Trabajando con servicios etiquetados</em></a></li>
<li><a class="reference internal" href="dependency_injection/factories.html"><em>Usando el patrón factoría para crear servicios</em></a></li>
<li><a class="reference internal" href="dependency_injection/configurators.html"><em>Configurando servicios con un configurador de servicio</em></a></li>
<li><a class="reference internal" href="dependency_injection/parentservices.html"><em>Gestionando dependencias comunes con servicios padre</em></a></li>
<li><a class="reference internal" href="dependency_injection/advanced.html"><em>Configuración avanzada del contenedor</em></a></li>
<li><a class="reference internal" href="dependency_injection/workflow.html"><em>Construyendo el flujo de trabajo del contenedor</em></a></li>
</ul>
</li>
<li><strong>Rastreador del DOM</strong><ul>
<li><a class="reference internal" href="dom_crawler.html"><em>El componente DomCrawler</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="event_dispatcher/index.html"><em>Despachador de eventos</em></a><ul>
<li><a class="reference internal" href="event_dispatcher/introduction.html"><em>El componente despachador de eventos</em></a></li>
<li><a class="reference internal" href="event_dispatcher/container_aware_dispatcher.html"><em>Contenedor consciente del despachador de eventos</em></a></li>
<li><a class="reference internal" href="event_dispatcher/generic_event.html"><em>El objeto evento genérico</em></a></li>
</ul>
</li>
<li><strong>Sistema de archivos</strong><ul>
<li><a class="reference internal" href="filesystem.html"><em>El componente Filesystem</em></a></li>
</ul>
</li>
<li><strong>Buscador</strong><ul>
<li><a class="reference internal" href="finder.html"><em>El componente Finder</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="http_foundation/index.html"><em>Fundamento HTTP</em></a><ul>
<li><a class="reference internal" href="http_foundation/introduction.html"><em>El componente HttpFoundation</em></a></li>
<li><a class="reference internal" href="http_foundation/sessions.html"><em>Gestión de la sesión</em></a></li>
<li><a class="reference internal" href="http_foundation/session_configuration.html"><em>Configurando sesiones y controladores de guardado</em></a></li>
<li><a class="reference internal" href="http_foundation/session_testing.html"><em>Probando con sesiones</em></a></li>
<li><a class="reference internal" href="http_foundation/trusting_proxies.html"><em>Delegados confiables</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="http_kernel/index.html"><em>HTTP del núcleo</em></a><ul>
<li><a class="reference internal" href="http_kernel/introduction.html"><em>El componente HttpKernel</em></a></li>
</ul>
</li>
<li><strong>Región</strong><ul>
<li><a class="reference internal" href="locale.html"><em>El componente Locale</em></a></li>
</ul>
</li>
<li><strong>Procesos</strong><ul>
<li><a class="reference internal" href="process.html"><em>El componente Process</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="property_access/index.html"><em>Propiedad Access</em></a><ul>
<li><a class="reference internal" href="property_access/introduction.html"><em>El componente PropertyAccess</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="routing/index.html"><em>Enrutando</em></a><ul>
<li><a class="reference internal" href="routing/introduction.html"><em>El componente Routing</em></a></li>
<li><a class="reference internal" href="routing/hostname_pattern.html"><em>Cómo emparejar una ruta basándose en el servidor</em></a></li>
</ul>
</li>
<li><strong>Serializador</strong><ul>
<li><a class="reference internal" href="serializer.html"><em>El componente Serializer</em></a></li>
</ul>
</li>
<li><strong>Cronógrafo</strong><ul>
<li><a class="reference internal" href="stopwatch.html"><em>El componente Stopwatch</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="security/index.html"><em>Seguridad</em></a><ul>
<li><a class="reference internal" href="security/introduction.html"><em>El componente Security</em></a></li>
<li><a class="reference internal" href="security/firewall.html"><em>Cortafuegos y el contexto de seguridad</em></a></li>
<li><a class="reference internal" href="security/authentication.html"><em>Autenticación</em></a></li>
<li><a class="reference internal" href="security/authorization.html"><em>Autorización</em></a></li>
</ul>
</li>
<li><strong>Plantillas</strong><ul>
<li><a class="reference internal" href="templating.html"><em>El componente Templating</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="yaml/index.html"><em>Yaml</em></a><ul>
<li><a class="reference internal" href="yaml/introduction.html"><em>El componente YAML</em></a></li>
<li><a class="reference internal" href="yaml/yaml_format.html"><em>El formato YAML</em></a></li>
</ul>
</li>
</ul>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="using_components.html" title="Cómo instalar y usar componentes de Symfony2"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="../cookbook/deployment-tools.html" title="Cómo desplegar una aplicación Symfony2"
             >anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2013, Traducido por Nacho Pacheco.
      Actualizado por última vez en Mar 19, 2013.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>