
<!DOCTYPE html> 
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>El componente Locale &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/translations.js"></script>
    <link rel="shortcut icon" href="../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../index.html" />
    <link rel="up" title="Componentes" href="index.html" />
    <link rel="next" title="The OptionsResolver Component" href="options_resolver.html" />
    <link rel="prev" title="El componente HttpKernel" href="http_kernel/introduction.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="../index.html"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="options_resolver.html" title="The OptionsResolver Component"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="http_kernel/introduction.html" title="El componente HttpKernel"
             accesskey="P">anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="el-componente-locale">
<span id="index-0"></span><h1>El componente <tt class="docutils literal"><span class="pre">Locale</span></tt><a class="headerlink" href="#el-componente-locale" title="Enlazar permanentemente con este título">¶</a></h1>
<blockquote>
<div>El componente <tt class="docutils literal"><span class="pre">Locale</span></tt> proporciona el código de reserva para manejar aquellos casos en que falta la extensión <tt class="docutils literal"><span class="pre">intl</span></tt>.
Además esta extiende la implementación de una clase <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.locale.php" title="Locale"><span class="pre">Locale</span></a></tt> nativa con varios métodos útiles.</div></blockquote>
<p>Proveyendo el reemplazo de las siguientes funciones y clases:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.intl-is-failure.php" title="intl_is_failure"><span class="pre">intl_is_failure</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.intl-get-error-code.php" title="intl_get_error_code"><span class="pre">intl_get_error_code</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.intl-get-error-message.php" title="intl_get_error_message"><span class="pre">intl_get_error_message</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.collator.php" title="Collator"><span class="pre">Collator</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.intldateformatter.php" title="IntlDateFormatter"><span class="pre">IntlDateFormatter</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.locale.php" title="Locale"><span class="pre">Locale</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.numberformatter.php" title="NumberFormatter"><span class="pre">NumberFormatter</span></a></tt></li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">La implementación únicamente es compatible con la región &#8220;<tt class="docutils literal"><span class="pre">en</span></tt>&#8221;.</p>
</div>
<div class="section" id="instalando">
<h2>Instalando<a class="headerlink" href="#instalando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Puedes instalar el componente de varias maneras diferentes:</p>
<ul class="simple">
<li>Usando el repositorio <em>Git</em> oficial (<a class="reference external" href="https://github.com/symfony/Locale">https://github.com/symfony/Locale</a>);</li>
<li><a class="reference internal" href="using_components.html"><em>Instalándolo vía Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/locale</span></tt> en <a class="reference external" href="https://packagist.org/packages/symfony/locale">Packagist</a>).</li>
</ul>
</div>
<div class="section" id="usando">
<h2>Usando<a class="headerlink" href="#usando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Aprovechar el código de reserva incluye requerir funciones cooperantes y añadir clase cooperantes al cargador automático.</p>
<p>Cuando se utiliza el componente <tt class="docutils literal"><span class="pre">ClassLoader</span></tt> el siguiente código es suficiente para complementar la extensión <tt class="docutils literal"><span class="pre">intl</span></tt> faltante:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nb">function_exists</span><span class="p">(</span><span class="s1">&#39;intl_get_error_code&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="k">require</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/ruta/a/src/Symfony/Component/Locale/Resources/stubs/functions.php&#39;</span><span class="p">;</span>

    <span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">registerPrefixFallbacks</span><span class="p">(</span>
        <span class="k">array</span><span class="p">(</span><span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/ruta/a/src/Symfony/Component/Locale/Resources/stubs&#39;</span><span class="p">)</span>
    <span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p><tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Locale\Locale</span></tt> enriquece a la clase nativa <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.locale.php" title="Locale"><span class="pre">Locale</span></a></tt> con características adicionales:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Locale\Locale</span><span class="p">;</span>

<span class="c1">// Obtiene los nombres de países para una región u obtiene todos los códigos de país</span>
<span class="nv">$countries</span> <span class="o">=</span> <span class="nx">Locale</span><span class="o">::</span><span class="na">getDisplayCountries</span><span class="p">(</span><span class="s1">&#39;pl&#39;</span><span class="p">);</span>
<span class="nv">$countryCodes</span> <span class="o">=</span> <span class="nx">Locale</span><span class="o">::</span><span class="na">getCountries</span><span class="p">();</span>

<span class="c1">// Obtiene los nombres de idiomas para una región u obtiene todos los códigos de idioma</span>
<span class="nv">$languages</span> <span class="o">=</span> <span class="nx">Locale</span><span class="o">::</span><span class="na">getDisplayLanguages</span><span class="p">(</span><span class="s1">&#39;fr&#39;</span><span class="p">);</span>
<span class="nv">$languageCodes</span> <span class="o">=</span> <span class="nx">Locale</span><span class="o">::</span><span class="na">getLanguages</span><span class="p">();</span>

<span class="c1">// Obtiene los nombres de configuración regional para un determinado código</span>
<span class="c1">// u obtiene todos los códigos de región</span>
<span class="nv">$locales</span> <span class="o">=</span> <span class="nx">Locale</span><span class="o">::</span><span class="na">getDisplayLocales</span><span class="p">(</span><span class="s1">&#39;en&#39;</span><span class="p">);</span>
<span class="nv">$localeCodes</span> <span class="o">=</span> <span class="nx">Locale</span><span class="o">::</span><span class="na">getLocales</span><span class="p">();</span>

<span class="c1">// Obtiene versiones ICU</span>
<span class="nv">$icuVersion</span> <span class="o">=</span> <span class="nx">Locale</span><span class="o">::</span><span class="na">getIntlIcuVersion</span><span class="p">();</span>
<span class="nv">$icuDataVersion</span> <span class="o">=</span> <span class="nx">Locale</span><span class="o">::</span><span class="na">getIcuDataVersion</span><span class="p">();</span>
</pre></div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="options_resolver.html" title="The OptionsResolver Component"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="http_kernel/introduction.html" title="El componente HttpKernel"
             >anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" >Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2013, Traducido por Nacho Pacheco.
      Actualizado por última vez en Apr 22, 2013.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>