
<!DOCTYPE html> 
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>El componente Serializer &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/translations.js"></script>
    <link rel="shortcut icon" href="../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../index.html" />
    <link rel="up" title="Componentes" href="index.html" />
    <link rel="next" title="El componente Stopwatch" href="stopwatch.html" />
    <link rel="prev" title="Autorización" href="security/authorization.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="../index.html"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="stopwatch.html" title="El componente Stopwatch"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="security/authorization.html" title="Autorización"
             accesskey="P">anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="el-componente-serializer">
<span id="index-0"></span><h1>El componente <tt class="docutils literal"><span class="pre">Serializer</span></tt><a class="headerlink" href="#el-componente-serializer" title="Enlazar permanentemente con este título">¶</a></h1>
<blockquote>
<div>El componente <tt class="docutils literal"><span class="pre">Serializer</span></tt> se pretende sea utilizado para convertir objetos a un formato específico (<em>XML</em>, <em>JSON</em>, <em>Yaml</em>, ...) y a la inversa.</div></blockquote>
<p>Para ello, el componente <tt class="docutils literal"><span class="pre">Serializer</span></tt> sigue el siguiente sencillo esquema.</p>
<img alt="../_images/serializer_workflow.png" src="../_images/serializer_workflow.png" />
<p>Como puedes ver en la imagen anterior, se utiliza un arreglo como un hombre en
el medio. De este modo, los codificadores sólo tratarán convirtiendo <strong>formatos</strong> específicos en <strong>arreglos</strong> y viceversa. Del mismo modo, los normalizadores tratarán cambiando <strong>objetos</strong> específicos en <strong>arreglos</strong> y viceversa.</p>
<p>La serialización es un tema complicado, y a pesar de que este componente no puede trabajar en todos los casos, puede ser una útil herramienta mientras desarrollas herramientas para serializar y deserializar tus objetos.</p>
<div class="section" id="instalando">
<h2>Instalando<a class="headerlink" href="#instalando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Puedes instalar el componente de varias maneras diferentes:</p>
<ul class="simple">
<li>Usando el repositorio <em>Git</em> oficial (<a class="reference external" href="https://github.com/symfony/Serializer">https://github.com/symfony/Serializer</a>);</li>
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/serializer</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/serializer">Packagist</a>).</li>
</ul>
</div>
<div class="section" id="usando">
<h2>Usando<a class="headerlink" href="#usando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Utilizar el componente <tt class="docutils literal"><span class="pre">Serializer</span></tt> es realmente sencillo. Sólo necesitas instalar la clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Serializer\Serializer</span></tt> especificando qué codificadores y normalizadores van a estar disponibles:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Serializer</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Encoder\XmlEncoder</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Encoder\JsonEncoder</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer</span><span class="p">;</span>

<span class="nv">$encoders</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="k">new</span> <span class="nx">XmlEncoder</span><span class="p">(),</span> <span class="k">new</span> <span class="nx">JsonEncoder</span><span class="p">());</span>
<span class="nv">$normalizers</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="k">new</span> <span class="nx">GetSetMethodNormalizer</span><span class="p">());</span>

<span class="nv">$serializer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Serializer</span><span class="p">(</span><span class="nv">$normalizers</span><span class="p">,</span> <span class="nv">$encoders</span><span class="p">);</span>
</pre></div>
</div>
<div class="section" id="serializando-un-objeto">
<h3>Serializando un objeto<a class="headerlink" href="#serializando-un-objeto" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Por el bien de este ejemplo, supongamos que la siguiente clase ya existe en tu proyecto:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">namespace</span> <span class="nx">Acme</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">Person</span>
<span class="p">{</span>
    <span class="k">private</span> <span class="nv">$age</span><span class="p">;</span>
    <span class="k">private</span> <span class="nv">$name</span><span class="p">;</span>

    <span class="c1">// Captadores</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">getName</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">name</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">getAge</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">age</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="c1">// Definidores</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">setName</span><span class="p">(</span><span class="nv">$name</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">name</span> <span class="o">=</span> <span class="nv">$name</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">setAge</span><span class="p">(</span><span class="nv">$age</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">age</span> <span class="o">=</span> <span class="nv">$age</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Ahora, si queremos serializar este objeto a <em>JSON</em>, sólo necesitamos utilizar el servicio <tt class="docutils literal"><span class="pre">Serializer</span></tt> creado anteriormente:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Acme\Person</span><span class="p">();</span>
<span class="nv">$person</span><span class="o">-&gt;</span><span class="na">setName</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
<span class="nv">$person</span><span class="o">-&gt;</span><span class="na">setAge</span><span class="p">(</span><span class="mi">99</span><span class="p">);</span>

<span class="nv">$serializer</span><span class="o">-&gt;</span><span class="na">serialize</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;json&#39;</span><span class="p">);</span> <span class="c1">// Produce: {&quot;name&quot;:&quot;foo&quot;,&quot;age&quot;:99}</span>
</pre></div>
</div>
<p>El primer argumento del método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Serializer/Serializer.html#method_serialize" title="Symfony\Component\Serializer\Serializer::serialize()"><span class="pre">serialize()</span></a></tt> es el objeto a serializar y el segundo suele escoger el codificador apropiado, en este caso <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Serializer\Encoder\JsonEncoder</span></tt>.</p>
</div>
<div class="section" id="deserializando-un-objeto">
<h3>Deserializando un Objeto<a class="headerlink" href="#deserializando-un-objeto" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Ahora veremos cómo hacer exactamente lo opuesto. Esta vez, la información de la clase <tt class="docutils literal"><span class="pre">Personas</span></tt> estaría codificada en formato <em>XML</em>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$data</span> <span class="o">=</span> <span class="s">&lt;&lt;&lt;EOF</span>
<span class="s">&lt;person&gt;</span>
<span class="s">    &lt;name&gt;foo&lt;/name&gt;</span>
<span class="s">    &lt;age&gt;99&lt;/age&gt;</span>
<span class="s">&lt;/person&gt;</span>
<span class="s">EOF;</span>

<span class="nv">$person</span> <span class="o">=</span> <span class="nv">$serializer</span><span class="o">-&gt;</span><span class="na">deserialize</span><span class="p">(</span><span class="nv">$data</span><span class="p">,</span><span class="s1">&#39;Acme\Person&#39;</span><span class="p">,</span><span class="s1">&#39;xml&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>En este caso, el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Serializer/Serializer.html#method_deserialize" title="Symfony\Component\Serializer\Serializer::deserialize()"><span class="pre">deserialize()</span></a></tt> necesita tres argumentos:</p>
<ol class="arabic simple">
<li>La información a descodificar</li>
<li>El nombre de la clase a la que esta información será descodificada</li>
<li>El codificador a utilizar para convertir esa información a un arreglo</li>
</ol>
</div>
</div>
<div class="section" id="jmsserializer">
<h2><tt class="docutils literal"><span class="pre">JMSSerializer</span></tt><a class="headerlink" href="#jmsserializer" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Una popular biblioteca de terceros, <a class="reference external" href="https://github.com/schmittjoh/serializer">JMS serializer</a>, proporciona una solución más sofisticada aunque más compleja. Esta biblioteca incluye la habilidad para configurar cómo se deberían serializar/deserializar tus objetos a través de anotaciones (así como <em>YML</em>, <em>XML</em> y <em>PHP</em>), integrarlos con el <em>ORM</em> de <em>Doctrine</em>, y manejar otros casos complejos (p. ej. en referencias circulares).</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="stopwatch.html" title="El componente Stopwatch"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="security/authorization.html" title="Autorización"
             >anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" >Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2013, Traducido por Nacho Pacheco.
      Actualizado por última vez en Mar 19, 2013.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>