
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>El componente Templating &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/translations.js"></script>
    <link rel="shortcut icon" href="../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../index.html" />
    <link rel="up" title="Componentes" href="index.html" />
    <link rel="next" title="El componente YAML" href="yaml.html" />
    <link rel="prev" title="El componente Routing" href="routing.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="http://gitnacho.github.com/tnp/"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="yaml.html" title="El componente YAML"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="routing.html" title="El componente Routing"
             accesskey="P">anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="el-componente-templating">
<span id="index-0"></span><h1>El componente <tt class="docutils literal"><span class="pre">Templating</span></tt><a class="headerlink" href="#el-componente-templating" title="Enlazar permanentemente con este título">¶</a></h1>
<blockquote>
<div><p>El componente <tt class="docutils literal"><span class="pre">Templating</span></tt> proporciona todas las herramientas necesarias para construir cualquier tipo de sistema de plantillas.</p>
<p>Este proporciona una infraestructura para cargar los archivos de plantilla y opcionalmente controlar sus cambios. También proporciona una implementación del motor de plantillas concreto usando <em>PHP</em> con herramientas adicionales para escapar y separar plantillas en bloques y diseños.</p>
</div></blockquote>
<div class="section" id="instalando">
<h2>Instalando<a class="headerlink" href="#instalando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Puedes instalar el componente de varias maneras diferentes:</p>
<ul class="simple">
<li>Usando el repositorio <em>Git</em> oficial (<a class="reference external" href="https://github.com/symfony/Templating">https://github.com/symfony/Templating</a>);</li>
<li>Instalándolo a través de <em>PEAR</em> (<cite>pear.symfony.com/Templating</cite>);</li>
<li>Instalándolo vía <tt class="docutils literal"><span class="pre">Composer</span></tt> (<cite>symfony/templating</cite> en Packagist).</li>
</ul>
</div>
<div class="section" id="usando">
<h2>Usando<a class="headerlink" href="#usando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>La clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Templating\PhpEngine</span></tt> es el punto de entrada del componente. Este necesita un analizador de nombres de plantilla (<tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Templating\TemplateNameParserInterface</span></tt>) para convertir un nombre de plantilla a una referencia a la plantilla y cargador de plantilla (<tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Templating\Loader\LoaderInterface</span></tt>) para encontrar la plantilla asociada a una referencia:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Templating\PhpEngine</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Templating\TemplateNameParser</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Templating\Loader\FilesystemLoader</span><span class="p">;</span>

<span class="nv">$loader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">FilesystemLoader</span><span class="p">(</span><span class="nx">__DIR__</span> <span class="o">.</span> <span class="s1">&#39;/views/%name%&#39;</span><span class="p">);</span>

<span class="nv">$view</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">PhpEngine</span><span class="p">(</span><span class="k">new</span> <span class="nx">TemplateNameParser</span><span class="p">(),</span> <span class="nv">$loader</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$view</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;hello.php&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;firstname&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Fabien&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>El método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html#method_render" title="Symfony\Component\Templating\PhpEngine::render()"><span class="pre">render()</span></a></tt> ejecuta el archivo
<tt class="file docutils literal"><span class="pre">views/hello.php</span></tt> y devuelve el texto producido.</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="c">&lt;!-- views/hello.php --&gt;</span>
Hello, <span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$firstname</span> <span class="cp">?&gt;</span>!
</pre></div>
</div>
</div>
<div class="section" id="herencia-de-plantillas-con-ranuras">
<h2>Herencia de plantillas con ranuras<a class="headerlink" href="#herencia-de-plantillas-con-ranuras" title="Enlazar permanentemente con este título">¶</a></h2>
<p>La herencia de plantillas está diseñada para compartir diseños con muchas plantillas.</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="c">&lt;!-- views/layout.php --&gt;</span>
    <span class="nt">&lt;html&gt;</span>
        <span class="nt">&lt;head&gt;</span>
        <span class="nt">&lt;title&gt;</span><span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;slots&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">output</span><span class="p">(</span><span class="s1">&#39;title&#39;</span><span class="p">,</span> <span class="s1">&#39;Default title&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="nt">&lt;/title&gt;</span>
        <span class="nt">&lt;/head&gt;</span>
        <span class="nt">&lt;body&gt;</span>
        <span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;slots&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">output</span><span class="p">(</span><span class="s1">&#39;_content&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span>
        <span class="nt">&lt;/body&gt;</span>
    <span class="nt">&lt;/html&gt;</span>
</pre></div>
</div>
<p>El método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html#method_extend" title="Symfony\Component\Templating\PhpEngine::extend()"><span class="pre">extend()</span></a></tt> es llamado en la subplantilla para definir la plantilla padre.</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="c">&lt;!-- views/page.php --&gt;</span>
<span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="o">-&gt;</span><span class="na">extend</span><span class="p">(</span><span class="s1">&#39;layout.php&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span>

<span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;slots&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;title&#39;</span><span class="p">,</span> <span class="nv">$page</span><span class="o">-&gt;</span><span class="na">title</span><span class="p">)</span> <span class="cp">?&gt;</span>

<span class="nt">&lt;h1&gt;</span>
    <span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$page</span><span class="o">-&gt;</span><span class="na">title</span> <span class="cp">?&gt;</span>
<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;p&gt;</span>
    <span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$page</span><span class="o">-&gt;</span><span class="na">body</span> <span class="cp">?&gt;</span>
<span class="nt">&lt;/p&gt;</span>
</pre></div>
</div>
<p>Para usar la herencia de plantillas, debes registrar la clase ayudante <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Templating\Helper\SlotsHelper</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Templating\Helper\SlotsHelper</span><span class="p">;</span>

<span class="nv">$view</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="k">new</span> <span class="nx">SlotsHelper</span><span class="p">());</span>

<span class="c1">// Recupera el objeto $page</span>

<span class="k">echo</span> <span class="nv">$view</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;page.php&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;page&#39;</span> <span class="o">=&gt;</span> <span class="nv">$page</span><span class="p">));</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Es posible la herencia multinivel: un diseño puede extender a otro.</p>
</div>
</div>
<div class="section" id="mecanismo-de-escape">
<h2>Mecanismo de escape<a class="headerlink" href="#mecanismo-de-escape" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Esta documentación todavía se está escribiendo.</p>
</div>
<div class="section" id="el-ayudante-asset">
<h2>El ayudante <tt class="docutils literal"><span class="pre">Asset</span></tt><a class="headerlink" href="#el-ayudante-asset" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Esta documentación todavía se está escribiendo.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="yaml.html" title="El componente YAML"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="routing.html" title="El componente Routing"
             >anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" >Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2012, Traducido por Nacho Pacheco.
      Actualizado por última vez en Jun 01, 2012.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.2.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>