
<!DOCTYPE html> 
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Cómo instalar y usar componentes de Symfony2 &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/translations.js"></script>
    <link rel="shortcut icon" href="../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../index.html" />
    <link rel="up" title="Componentes" href="index.html" />
    <link rel="next" title="El componente ClassLoader" href="class_loader.html" />
    <link rel="prev" title="Componentes" href="index.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="../index.html"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="class_loader.html" title="El componente ClassLoader"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="index.html" title="Componentes"
             accesskey="P">anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="como-instalar-y-usar-componentes-de-symfony2">
<span id="index-0"></span><h1>Cómo instalar y usar componentes de <em>Symfony2</em><a class="headerlink" href="#como-instalar-y-usar-componentes-de-symfony2" title="Enlazar permanentemente con este título">¶</a></h1>
<p>Si estás comenzando un nuevo proyecto (o ya tienes un proyecto) que utilizará uno o más componentes, la forma más fácil de integrar todo es con <a class="reference external" href="http://getcomposer.org">Composer</a>.
<tt class="docutils literal"><span class="pre">Composer</span></tt> es lo suficientemente inteligente como para descargar el/los componente(s) que necesita(s) y tiene cuidado de cargalos automáticamente para que puedas empezar a utilizar las bibliotecas de inmediato.</p>
<p>Este artículo te llevará a través del uso del <a class="reference internal" href="finder.html"><em>El componente Finder</em></a>, aunque esto se aplica a la utilización de cualquier componente.</p>
<div class="section" id="usando-el-componente-finder">
<h2>Usando el componente <tt class="docutils literal"><span class="pre">Finder</span></tt><a class="headerlink" href="#usando-el-componente-finder" title="Enlazar permanentemente con este título">¶</a></h2>
<p><strong>1.</strong> Si vas a crear un nuevo proyecto, crea un nuevo directorio vacío para él.</p>
<p><strong>2.</strong> Crea un nuevo archivo llamado <tt class="docutils literal"><span class="pre">composer.json</span></tt> y pega el siguiente código en él:</p>
<div class="highlight-json"><pre>{
    "require": {
        "symfony/finder": "2.1.*"
    }
}</pre>
</div>
<p>Si ya tienes un archivo <tt class="docutils literal"><span class="pre">composer.json</span></tt>, sólo agrégale esta línea. Posiblemente también necesites ajustar la versión (p. ej. <tt class="docutils literal"><span class="pre">2.1.1</span></tt> o <tt class="docutils literal"><span class="pre">2.2.*</span></tt>).</p>
<p>Puedes averiguar el nombre de los componentes y sus versiones en <a class="reference external" href="https://packagist.org/">packagist.org</a>.</p>
<p><strong>3.</strong> <a class="reference external" href="http://getcomposer.org/download/">Instala composer</a> si no está presente en tu sistema:</p>
<p><strong>4.</strong> Descarga las bibliotecas de proveedores y genera el archivo <tt class="file docutils literal"><span class="pre">vendor/autoload.php</span></tt>:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php composer.phar install
</pre></div>
</div>
<p><strong>5.</strong> Escribe tu código:</p>
<p>Una vez que <tt class="docutils literal"><span class="pre">Composer</span></tt> ha descargado el/los componente(s), todo lo que necesitas hacer es incluir el archivo <tt class="docutils literal"><span class="pre">vendor/autoload.php</span></tt> generado por <tt class="docutils literal"><span class="pre">Composer</span></tt>. Este archivo se preocupa de cagar automáticamente todas las bibliotecas a modo que las puedas utilizar inmediatamente:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// Archivo: src/script.php</span>

<span class="c1">// actualiza esto a la ruta al directorio «vendor/», relativo a este archivo</span>
<span class="k">require_once</span> <span class="s1">&#39;../vendor/autoload.php&#39;</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\Finder\Finder</span><span class="p">;</span>

<span class="nv">$finder</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Finder</span><span class="p">();</span>
<span class="nv">$finder</span><span class="o">-&gt;</span><span class="na">in</span><span class="p">(</span><span class="s1">&#39;../data/&#39;</span><span class="p">);</span>

<span class="c1">// ...</span>
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Truco</p>
<p>Si quieres utilizar todos los componentes de <em>Symfony2</em>, entonces en vez de añadirlos uno por uno:</p>
<blockquote>
<div><div class="highlight-json"><pre>{
    "require": {
        "symfony/finder": "2.1.*",
        "symfony/dom-crawler": "2.1.*",
        "symfony/css-selector": "2.1.*"
    }
}</pre>
</div>
</div></blockquote>
<p>puedes usar:</p>
<blockquote>
<div><div class="highlight-json"><pre>{
    "require": {
        "symfony/symfony": "2.1.*"
    }
}</pre>
</div>
</div></blockquote>
<p class="last">Esto incluirá el paquete y bibliotecas de puente, el cual posiblemente no necesites de hecho.</p>
</div>
</div>
<div class="section" id="ahora-que">
<h2>¿Ahora qué?<a class="headerlink" href="#ahora-que" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Ahora que está instalado y se carga automáticamente el componente, lee la documentación específica del componente para descubrir más sobre cómo utilizarlo.</p>
<p>¡Y diviértete!</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="class_loader.html" title="El componente ClassLoader"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="index.html" title="Componentes"
             >anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" >Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2013, Traducido por Nacho Pacheco.
      Actualizado por última vez en Jan 16, 2013.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>