
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>El componente YAML &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/translations.js"></script>
    <link rel="shortcut icon" href="../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../index.html" />
    <link rel="up" title="Componentes" href="index.html" />
    <link rel="next" title="Documentos de referencia" href="../reference/index.html" />
    <link rel="prev" title="El componente Templating" href="templating.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="http://gitnacho.github.com/tnp/"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="../reference/index.html" title="Documentos de referencia"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="templating.html" title="El componente Templating"
             accesskey="P">anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="el-componente-yaml">
<h1>El componente <em>YAML</em><a class="headerlink" href="#el-componente-yaml" title="Enlazar permanentemente con este título">¶</a></h1>
<blockquote>
<div>El componente <em>YAML</em> carga y vuelca archivos <em>YAML</em>.</div></blockquote>
<div class="section" id="que-es-entonces">
<h2>¿Qué es entonces?<a class="headerlink" href="#que-es-entonces" title="Enlazar permanentemente con este título">¶</a></h2>
<p>El componente <em>YAML</em> de <em>Symfony2</em> analiza cadenas <em>YAML</em> para convertirlas a matrices <em>PHP</em>.
También es capaz de convertir matrices <em>PHP</em> a cadenas <em>YAML</em>.</p>
<p><a class="reference external" href="http://yaml.org/">YAML</a>, <em>YAML no es un lenguaje de marcado</em>, es un estándar para la serialización de datos amigable con los humanos para todos los lenguajes de programación. YAML es un formato ideal para tus archivos de configuración. Los archivos <em>YAML</em> son tan expresivos como los archivos <em>XML</em> y tan fáciles de leer como los archivos <tt class="docutils literal"><span class="pre">INI</span></tt>.</p>
<p>El componente <em>YAML</em> de <em>Symfony2</em> implementa la versión 1.2 de la
especificación <em>YAML</em>.</p>
</div>
<div class="section" id="instalando">
<h2>Instalando<a class="headerlink" href="#instalando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Puedes instalar el componente de varias maneras diferentes:</p>
<ul class="simple">
<li>Usando el repositorio <em>Git</em> oficial (<a class="reference external" href="https://github.com/symfony/Yaml">https://github.com/symfony/Yaml</a>);</li>
<li>Instalándolo a través de <em>PEAR</em> ( <cite>pear.symfony.com/Yaml</cite>);</li>
<li>Instalándolo vía <tt class="docutils literal"><span class="pre">Composer</span></tt> (<cite>symfony/yaml</cite> en Packagist).</li>
</ul>
</div>
<div class="section" id="por-que">
<h2>¿Por qué?<a class="headerlink" href="#por-que" title="Enlazar permanentemente con este título">¶</a></h2>
<div class="section" id="rapidez">
<h3>Rapidez<a class="headerlink" href="#rapidez" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Uno de los objetivos del componente <em>YAML</em> de <em>Symfony</em> es encontrar el balance adecuado entre características y velocidad. Es compatible con las características necesarias para manipular archivos de configuración.</p>
</div>
<div class="section" id="analizador-real">
<h3>Analizador real<a class="headerlink" href="#analizador-real" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Este exporta un analizador real y es capaz de analizar un gran subconjunto de especificaciones <em>YAML</em>, para todas tus necesidades de configuración. También significa que el analizador es bastante robusto, fácil de entender, y lo suficientemente simple como para ampliarlo.</p>
</div>
<div class="section" id="borrando-mensajes-de-error">
<h3>Borrando mensajes de error<a class="headerlink" href="#borrando-mensajes-de-error" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Cada vez que tienes un problema de sintaxis con tus archivos <em>YAML</em>, la biblioteca genera un útil mensaje de ayuda con el nombre y número de línea donde está el problema. Lo cual facilita mucho la depuración.</p>
</div>
<div class="section" id="compatibilidad-con-el-volcado">
<h3>Compatibilidad con el volcado<a class="headerlink" href="#compatibilidad-con-el-volcado" title="Enlazar permanentemente con este título">¶</a></h3>
<p>También es capaz de volcar matrices de <em>PHP</em> a <em>YAML</em> con el apoyo de objetos, y el nivel de configuración en línea es bastante bueno.</p>
</div>
<div class="section" id="compatibilidad-de-tipos">
<h3>Compatibilidad de tipos<a class="headerlink" href="#compatibilidad-de-tipos" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Es compatible con la mayoría de los tipos <em>YAML</em> integrados como fechas, números enteros, octales, booleanos, y mucho más...</p>
</div>
<div class="section" id="completa-compatibilidad-con-la-fusion-de-claves">
<h3>Completa compatibilidad con la fusión de claves<a class="headerlink" href="#completa-compatibilidad-con-la-fusion-de-claves" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Completa compatibilidad para referencias, alias y completa fusión de claves. No repitas tú mismo haciendo referencia a segmentos de configuración comunes.</p>
</div>
</div>
<div class="section" id="utilizando-el-componente-yaml-de-symfony2">
<h2>Utilizando el componente <em>YAML</em> de <em>Symfony2</em><a class="headerlink" href="#utilizando-el-componente-yaml-de-symfony2" title="Enlazar permanentemente con este título">¶</a></h2>
<p>El componente <em>YAML</em> de <em>Symfony2</em> es muy simple y consiste de dos clases principales:
una analiza cadenas <em>YAML</em> (<tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Yaml\Parser</span></tt>), y la otra
vuelca un array <em>PHP</em> en una cadena <em>YAML</em> (<tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Yaml\Dumper</span></tt>).</p>
<p>Además de estas dos clases, la clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Yaml\Yaml</span></tt> actúa como un delgado contenedor que simplifica los usos más comunes.</p>
<div class="section" id="leyendo-archivos-yaml">
<h3>Leyendo archivos <em>YAML</em><a class="headerlink" href="#leyendo-archivos-yaml" title="Enlazar permanentemente con este título">¶</a></h3>
<p>El método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Parser.html#method_parse" title="Symfony\Component\Yaml\Parser::parse()"><span class="pre">parse()</span></a></tt> analiza una cadena <em>YAML</em> y la convierte en una matriz <em>PHP</em>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Yaml\Parser</span><span class="p">;</span>

<span class="nv">$yaml</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Parser</span><span class="p">();</span>

<span class="nv">$value</span> <span class="o">=</span> <span class="nv">$yaml</span><span class="o">-&gt;</span><span class="na">parse</span><span class="p">(</span><span class="nb">file_get_contents</span><span class="p">(</span><span class="s1">&#39;/path/to/file.yml&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>Si ocurre un error durante el análisis, el analizador lanza una excepción <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Yaml\Exception\ParseException</span></tt> que indica el tipo de error y la línea en la cadena <em>YAML</em> original en la que ocurrió el error:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Yaml\Exception\ParseException</span><span class="p">;</span>

<span class="k">try</span> <span class="p">{</span>
    <span class="nv">$value</span> <span class="o">=</span> <span class="nv">$yaml</span><span class="o">-&gt;</span><span class="na">parse</span><span class="p">(</span><span class="nb">file_get_contents</span><span class="p">(</span><span class="s1">&#39;/path/to/file.yml&#39;</span><span class="p">));</span>
<span class="p">}</span> <span class="k">catch</span> <span class="p">(</span><span class="nx">ParseException</span> <span class="nv">$e</span><span class="p">)</span> <span class="p">{</span>
    <span class="nb">printf</span><span class="p">(</span><span class="s2">&quot;Unable to parse the YAML string: %s&quot;</span><span class="p">,</span> <span class="nv">$e</span><span class="o">-&gt;</span><span class="na">getMessage</span><span class="p">());</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Truco</p>
<p class="last">Debido a que el analizador es reentrante, puedes utilizar el mismo objeto analizador para cargar diferentes cadenas <em>YAML</em>.</p>
</div>
<p>Al cargar un archivo <em>YAML</em>, a veces es mejor usar el contenedor del método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Yaml.html#method_parse" title="Symfony\Component\Yaml\Yaml::parse()"><span class="pre">parse()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Yaml\Yaml</span><span class="p">;</span>

<span class="nv">$loader</span> <span class="o">=</span> <span class="nx">Yaml</span><span class="o">::</span><span class="na">parse</span><span class="p">(</span><span class="s1">&#39;/ruta/a/archivo.yml&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>El método estático <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Yaml.html#method_parse" title="Symfony\Component\Yaml\Yaml::parse()"><span class="pre">parse()</span></a></tt> toma una cadena <em>YAML</em> o un archivo que contiene <em>YAML</em>. Internamente, llama  al método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Parser.html#method_parse" title="Symfony\Component\Yaml\Parser::parse()"><span class="pre">parse()</span></a></tt>, pero con algunos bonos añadidos:</p>
<ul class="simple">
<li>Ejecuta el archivo <em>YAML</em> como si fuera un archivo <em>PHP</em>, por lo tanto puedes incrustar ordenes <em>PHP</em> en tus archivos <em>YAML</em>;</li>
<li>Cuando un archivo no se puede analizar, este agrega automáticamente el nombre del archivo al mensaje de error, lo cual simplifica la depuración cuando tu aplicación está cargando varios archivos <em>YAML</em>.</li>
</ul>
</div>
<div class="section" id="escribiendo-archivos-yaml">
<h3>Escribiendo archivos <em>YAML</em><a class="headerlink" href="#escribiendo-archivos-yaml" title="Enlazar permanentemente con este título">¶</a></h3>
<p>El método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Dumper.html#method_dump" title="Symfony\Component\Yaml\Dumper::dump()"><span class="pre">dump()</span></a></tt> vuelca cualquier matriz <em>PHP</em> en su representación <em>YAML</em>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Yaml\Dumper</span><span class="p">;</span>

<span class="nv">$array</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;bar&#39;</span><span class="p">,</span> <span class="s1">&#39;bar&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;bar&#39;</span><span class="p">,</span> <span class="s1">&#39;bar&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;baz&#39;</span><span class="p">));</span>

<span class="nv">$dumper</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Dumper</span><span class="p">();</span>

<span class="nv">$yaml</span> <span class="o">=</span> <span class="nv">$dumper</span><span class="o">-&gt;</span><span class="na">dump</span><span class="p">(</span><span class="nv">$array</span><span class="p">);</span>

<span class="nb">file_put_contents</span><span class="p">(</span><span class="s1">&#39;/path/to/file.yml&#39;</span><span class="p">,</span> <span class="nv">$yaml</span><span class="p">);</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Por supuesto, el vertedor <em>YAML</em> de <em>Symfony2</em> no es capaz de volcar recursos. Por otra parte, aun y cuando el vertedor es capaz de volcar objetos <em>PHP</em>, se considera como una función <strong>No</strong> admitida.</p>
</div>
<p>Si ocurre un error durante el volcado, el analizador lanza una excepción <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Yaml\Exception\DumpException</span></tt>.</p>
<p>Si sólo necesitas volcar una matriz, puedes utilizar el método estático <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Yaml.html#method_dump" title="Symfony\Component\Yaml\Yaml::dump()"><span class="pre">dump()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Yaml\Yaml</span><span class="p">;</span>

<span class="nv">$yaml</span> <span class="o">=</span> <span class="nx">Yaml</span><span class="o">::</span><span class="na">dump</span><span class="p">(</span><span class="nv">$array</span><span class="p">,</span> <span class="nv">$inline</span><span class="p">);</span>
</pre></div>
</div>
<p>El formato <em>YAML</em> admite dos tipos de representación de matrices, la ampliada, y en línea. Por omisión, el vertedor utiliza la representación en línea:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="p-Indicator">{</span> <span class="nv">foo</span><span class="p-Indicator">:</span> <span class="nv">bar</span><span class="p-Indicator">,</span> <span class="nv">bar</span><span class="p-Indicator">:</span> <span class="p-Indicator">{</span> <span class="nv">foo</span><span class="p-Indicator">:</span> <span class="nv">bar</span><span class="p-Indicator">,</span> <span class="nv">bar</span><span class="p-Indicator">:</span> <span class="nv">baz</span> <span class="p-Indicator">}</span> <span class="p-Indicator">}</span>
</pre></div>
</div>
<p>El segundo argumento del método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Dumper.html#method_dump" title="Symfony\Component\Yaml\Dumper::dump()"><span class="pre">dump()</span></a></tt> personaliza el nivel en el cual el resultado cambia de la representación ampliada a en línea:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">echo</span> <span class="nv">$dumper</span><span class="o">-&gt;</span><span class="na">dump</span><span class="p">(</span><span class="nv">$array</span><span class="p">,</span> <span class="mi">1</span><span class="p">);</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">foo</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">bar</span>
<span class="l-Scalar-Plain">bar</span><span class="p-Indicator">:</span> <span class="p-Indicator">{</span> <span class="nv">foo</span><span class="p-Indicator">:</span> <span class="nv">bar</span><span class="p-Indicator">,</span> <span class="nv">bar</span><span class="p-Indicator">:</span> <span class="nv">baz</span> <span class="p-Indicator">}</span>
</pre></div>
</div>
<div class="highlight-php"><div class="highlight"><pre><span class="k">echo</span> <span class="nv">$dumper</span><span class="o">-&gt;</span><span class="na">dump</span><span class="p">(</span><span class="nv">$array</span><span class="p">,</span> <span class="mi">2</span><span class="p">);</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">foo</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">bar</span>
<span class="l-Scalar-Plain">bar</span><span class="p-Indicator">:</span>
    <span class="l-Scalar-Plain">foo</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">bar</span>
    <span class="l-Scalar-Plain">bar</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">baz</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="el-formato-yaml">
<h2>El formato <em>YAML</em><a class="headerlink" href="#el-formato-yaml" title="Enlazar permanentemente con este título">¶</a></h2>
<p>El sitio <em>web</em> de <a class="reference external" href="http://yaml.org/">YAML</a> dice que es &#8220;un estándar para la serialización de datos humanamente legibles para todos los lenguajes de programación&#8221;.</p>
<p>Si bien el formato <em>YAML</em> puede describir complejas estructuras de datos anidadas, este capítulo sólo describe el conjunto mínimo de características necesarias para usar <em>YAML</em> como un formato de archivo de configuración.</p>
<p><em>YAML</em> es un lenguaje simple que describe datos. Como <em>PHP</em>, que tiene una sintaxis para tipos simples, como cadenas, booleanos, números en punto flotante, o enteros. Pero a diferencia de <em>PHP</em>, este distingue entre matrices (secuencias) y <tt class="docutils literal"><span class="pre">hashes</span></tt> (asignaciones).</p>
<div class="section" id="escalares">
<h3>Escalares<a class="headerlink" href="#escalares" title="Enlazar permanentemente con este título">¶</a></h3>
<p>La sintaxis para escalares es similar a la sintaxis de <em>PHP</em>.</p>
<div class="section" id="cadenas">
<h4>Cadenas<a class="headerlink" href="#cadenas" title="Enlazar permanentemente con este título">¶</a></h4>
<div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">Una cadena en YAML</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="s">&#39;Una</span><span class="nv"> </span><span class="s">cadena</span><span class="nv"> </span><span class="s">entre</span><span class="nv"> </span><span class="s">comillas</span><span class="nv"> </span><span class="s">simples</span><span class="nv"> </span><span class="s">en</span><span class="nv"> </span><span class="s">YAML&#39;</span>
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Truco</p>
<p>En una cadena entre comillas simples, una comilla simple <tt class="docutils literal"><span class="pre">'</span></tt> debe ser doble:</p>
<div class="last highlight-yaml"><div class="highlight"><pre><span class="s">&#39;Una</span><span class="nv"> </span><span class="s">comilla</span><span class="nv"> </span><span class="s">simple</span><span class="nv"> </span><span class="se">&#39;&#39;</span><span class="nv"> </span><span class="s">en</span><span class="nv"> </span><span class="s">una</span><span class="nv"> </span><span class="s">cadena</span><span class="nv"> </span><span class="s">entre</span><span class="nv"> </span><span class="s">comillas</span><span class="nv"> </span><span class="s">simples&#39;</span>
</pre></div>
</div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="s">&quot;Una</span><span class="nv"> </span><span class="s">cadena</span><span class="nv"> </span><span class="s">entre</span><span class="nv"> </span><span class="s">comillas</span><span class="nv"> </span><span class="s">dobles</span><span class="nv"> </span><span class="s">en</span><span class="nv"> </span><span class="s">YAML\n&quot;</span>
</pre></div>
</div>
<p>Los estilos de citado son útiles cuando una cadena empieza o termina con uno o más espacios relevantes.</p>
<div class="admonition tip">
<p class="first admonition-title">Truco</p>
<p class="last">El estilo entre comillas dobles proporciona una manera de expresar cadenas arbitrarias, utilizando secuencias de escape <tt class="docutils literal"><span class="pre">\</span></tt>. Es muy útil cuando se necesita incrustar un <tt class="docutils literal"><span class="pre">\n</span></tt> o un carácter Unicode en una cadena.</p>
</div>
<p>Cuando una cadena contiene saltos de línea, puedes usar el estilo literal, indicado por la tubería (<tt class="docutils literal"><span class="pre">|</span></tt>), para indicar que la cadena abarcará varias líneas. En literales, se conservan los saltos de línea:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="p-Indicator">|</span>
  <span class="no">\/ /| |\/| |</span>
  <span class="no">/ / | |  | |__</span>
</pre></div>
</div>
<p>Alternativamente, puedes escribir cadenas con el estilo de plegado, denotado por <tt class="docutils literal"><span class="pre">&gt;</span></tt>, en el cual cada salto de línea es sustituido por un espacio:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="p-Indicator">&gt;</span>
  <span class="no">Esta es una oración muy larga</span>
  <span class="no">que se extiende por varias líneas en el YAML</span>
  <span class="no">pero que se reproduce como una cadena</span>
  <span class="no">sin retornos de carro.</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Observa los dos espacios antes de cada línea en los ejemplos anteriores. Ellos no aparecen en las cadenas <em>PHP</em> resultantes.</p>
</div>
</div>
<div class="section" id="numeros">
<h4>Números<a class="headerlink" href="#numeros" title="Enlazar permanentemente con este título">¶</a></h4>
<div class="highlight-yaml"><div class="highlight"><pre><span class="c1"># un entero</span>
<span class="l-Scalar-Plain">12</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="c1"># un octal</span>
<span class="l-Scalar-Plain">014</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="c1"># un hexadecimal</span>
<span class="l-Scalar-Plain">0xC</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="c1"># un float</span>
<span class="l-Scalar-Plain">13.4</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="c1"># un número exponencial</span>
<span class="l-Scalar-Plain">1.2e+34</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="c1"># infinito</span>
<span class="l-Scalar-Plain">.inf</span>
</pre></div>
</div>
</div>
<div class="section" id="nulos">
<h4>Nulos<a class="headerlink" href="#nulos" title="Enlazar permanentemente con este título">¶</a></h4>
<p>Los nulos en <em>YAML</em> se pueden expresar con <tt class="docutils literal"><span class="pre">null</span></tt> o <tt class="docutils literal"><span class="pre">~</span></tt>.</p>
</div>
<div class="section" id="booleanos">
<h4>Booleanos<a class="headerlink" href="#booleanos" title="Enlazar permanentemente con este título">¶</a></h4>
<p>Los booleanos en <em>YAML</em> se expresan con <tt class="docutils literal"><span class="pre">true</span></tt> y <tt class="docutils literal"><span class="pre">false</span></tt>.</p>
</div>
<div class="section" id="fechas">
<h4>Fechas<a class="headerlink" href="#fechas" title="Enlazar permanentemente con este título">¶</a></h4>
<p><em>YAML</em> utiliza la norma ISO-8601 para expresar fechas:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">2001-12-14t21:59:43.10-05:00</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="c1"># fecha simple</span>
<span class="l-Scalar-Plain">2002-12-14</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="colecciones">
<h3>Colecciones<a class="headerlink" href="#colecciones" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Rara vez se utiliza un archivo <em>YAML</em> para describir un simple escalar. La mayoría de las veces, describe una colección. Una colección puede ser una secuencia o una asignación de elementos. Ambas, secuencias y asignaciones se convierten en matrices <em>PHP</em>.</p>
<p>Las secuencias usan un guión seguido por un espacio:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="p-Indicator">-</span> <span class="l-Scalar-Plain">PHP</span>
<span class="p-Indicator">-</span> <span class="l-Scalar-Plain">Perl</span>
<span class="p-Indicator">-</span> <span class="l-Scalar-Plain">Python</span>
</pre></div>
</div>
<p>El archivo <em>YAML</em> anterior es equivalente al siguiente código <em>PHP</em>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">array</span><span class="p">(</span><span class="s1">&#39;PHP&#39;</span><span class="p">,</span> <span class="s1">&#39;Perl&#39;</span><span class="p">,</span> <span class="s1">&#39;Python&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Las asignaciones usan dos puntos seguidos por un espacio (<tt class="docutils literal"><span class="pre">':</span>&nbsp; <span class="pre">'</span></tt>) para marcar cada par de clave/valor:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">PHP</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">5.2</span>
<span class="l-Scalar-Plain">MySQL</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">5.1</span>
<span class="l-Scalar-Plain">Apache</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">2.2.20</span>
</pre></div>
</div>
<p>el cual es equivalente a este código <em>PHP</em>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">array</span><span class="p">(</span><span class="s1">&#39;PHP&#39;</span> <span class="o">=&gt;</span> <span class="mf">5.2</span><span class="p">,</span> <span class="s1">&#39;MySQL&#39;</span> <span class="o">=&gt;</span> <span class="mf">5.1</span><span class="p">,</span> <span class="s1">&#39;Apache&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;2.2.20&#39;</span><span class="p">);</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">En una asignación, una clave puede ser cualquier escalar válido.</p>
</div>
<p>El número de espacios entre los dos puntos y el valor no importa:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">PHP</span><span class="p-Indicator">:</span>    <span class="l-Scalar-Plain">5.2</span>
<span class="l-Scalar-Plain">MySQL</span><span class="p-Indicator">:</span>  <span class="l-Scalar-Plain">5.1</span>
<span class="l-Scalar-Plain">Apache</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">2.2.20</span>
</pre></div>
</div>
<p><em>YAML</em> utiliza sangría con uno o más espacios para describir colecciones anidadas:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="s">&quot;symfony</span><span class="nv"> </span><span class="s">1.0&quot;</span><span class="p-Indicator">:</span>
  <span class="l-Scalar-Plain">PHP</span><span class="p-Indicator">:</span>    <span class="l-Scalar-Plain">5.0</span>
  <span class="l-Scalar-Plain">Propel</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">1.2</span>
<span class="s">&quot;symfony</span><span class="nv"> </span><span class="s">1.2&quot;</span><span class="p-Indicator">:</span>
  <span class="l-Scalar-Plain">PHP</span><span class="p-Indicator">:</span>    <span class="l-Scalar-Plain">5.2</span>
  <span class="l-Scalar-Plain">Propel</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">1.3</span>
</pre></div>
</div>
<p>El <em>YAML</em> anterior es equivalente al siguiente código <em>PHP</em>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">array</span><span class="p">(</span>
  <span class="s1">&#39;symfony 1.0&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;PHP&#39;</span>    <span class="o">=&gt;</span> <span class="mf">5.0</span><span class="p">,</span>
    <span class="s1">&#39;Propel&#39;</span> <span class="o">=&gt;</span> <span class="mf">1.2</span><span class="p">,</span>
  <span class="p">),</span>
  <span class="s1">&#39;symfony 1.2&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;PHP&#39;</span>    <span class="o">=&gt;</span> <span class="mf">5.2</span><span class="p">,</span>
    <span class="s1">&#39;Propel&#39;</span> <span class="o">=&gt;</span> <span class="mf">1.3</span><span class="p">,</span>
  <span class="p">),</span>
<span class="p">);</span>
</pre></div>
</div>
<p>Hay una cosa importante que tienes que recordar cuando utilices sangría en un archivo <em>YAML</em>: <em>La sangría se debe hacer con uno o más espacios, pero nunca con tabulaciones</em>.</p>
<p>Puedes anidar secuencias y asignaciones a tu gusto:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="s">&#39;Chapter</span><span class="nv"> </span><span class="s">1&#39;</span><span class="p-Indicator">:</span>
  <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">Introduction</span>
  <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">Event Types</span>
<span class="s">&#39;Chapter</span><span class="nv"> </span><span class="s">2&#39;</span><span class="p-Indicator">:</span>
  <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">Introduction</span>
  <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">Helpers</span>
</pre></div>
</div>
<p><em>YAML</em> también puede utilizar estilos de flujo para colecciones, utilizando indicadores explícitos en lugar de sangría para denotar el alcance.</p>
<p>Puedes escribir una secuencia como una lista separada por comas entre corchetes (<tt class="docutils literal"><span class="pre">[]</span></tt>):</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="p-Indicator">[</span><span class="nv">PHP</span><span class="p-Indicator">,</span> <span class="nv">Perl</span><span class="p-Indicator">,</span> <span class="nv">Python</span><span class="p-Indicator">]</span>
</pre></div>
</div>
<p>Puedes escribir una asignación como una lista separada por comas de clave/valor dentro de llaves (<tt class="docutils literal"><span class="pre">{}</span></tt>):</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="p-Indicator">{</span> <span class="nv">PHP</span><span class="p-Indicator">:</span> <span class="nv">5.2</span><span class="p-Indicator">,</span> <span class="nv">MySQL</span><span class="p-Indicator">:</span> <span class="nv">5.1</span><span class="p-Indicator">,</span> <span class="nv">Apache</span><span class="p-Indicator">:</span> <span class="nv">2.2.20</span> <span class="p-Indicator">}</span>
</pre></div>
</div>
<p>Puedes mezclar y combinar estilos para conseguir mayor legibilidad:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="s">&#39;Chapter</span><span class="nv"> </span><span class="s">1&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[</span><span class="nv">Introduction</span><span class="p-Indicator">,</span> <span class="nv">Event Types</span><span class="p-Indicator">]</span>
<span class="s">&#39;Chapter</span><span class="nv"> </span><span class="s">2&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[</span><span class="nv">Introduction</span><span class="p-Indicator">,</span> <span class="nv">Helpers</span><span class="p-Indicator">]</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="s">&quot;symfony</span><span class="nv"> </span><span class="s">1.0&quot;</span><span class="p-Indicator">:</span> <span class="p-Indicator">{</span> <span class="nv">PHP</span><span class="p-Indicator">:</span> <span class="nv">5.0</span><span class="p-Indicator">,</span> <span class="nv">Propel</span><span class="p-Indicator">:</span> <span class="nv">1.2</span> <span class="p-Indicator">}</span>
<span class="s">&quot;symfony</span><span class="nv"> </span><span class="s">1.2&quot;</span><span class="p-Indicator">:</span> <span class="p-Indicator">{</span> <span class="nv">PHP</span><span class="p-Indicator">:</span> <span class="nv">5.2</span><span class="p-Indicator">,</span> <span class="nv">Propel</span><span class="p-Indicator">:</span> <span class="nv">1.3</span> <span class="p-Indicator">}</span>
</pre></div>
</div>
</div>
<div class="section" id="comentarios">
<h3>Comentarios<a class="headerlink" href="#comentarios" title="Enlazar permanentemente con este título">¶</a></h3>
<p>En <em>YAML</em> puedes añadir comentarios anteponiendo una almohadilla (<tt class="docutils literal"><span class="pre">#</span></tt>):</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="c1"># Comentario en una línea</span>
<span class="s">&quot;symfony</span><span class="nv"> </span><span class="s">1.0&quot;</span><span class="p-Indicator">:</span> <span class="p-Indicator">{</span> <span class="nv">PHP</span><span class="p-Indicator">:</span> <span class="nv">5.0</span><span class="p-Indicator">,</span> <span class="nv">Propel</span><span class="p-Indicator">:</span> <span class="nv">1.2</span> <span class="p-Indicator">}</span> <span class="c1"># Comentario al final de una línea</span>
<span class="s">&quot;symfony</span><span class="nv"> </span><span class="s">1.2&quot;</span><span class="p-Indicator">:</span> <span class="p-Indicator">{</span> <span class="nv">PHP</span><span class="p-Indicator">:</span> <span class="nv">5.2</span><span class="p-Indicator">,</span> <span class="nv">Propel</span><span class="p-Indicator">:</span> <span class="nv">1.3</span> <span class="p-Indicator">}</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Los comentarios simplemente son ignorados por el analizador de <em>YAML</em> y no necesitan sangría de acuerdo al nivel de anidamiento actual de una colección.</p>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="../reference/index.html" title="Documentos de referencia"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="templating.html" title="El componente Templating"
             >anterior</a> |</li>
        <li><a href="../index.html">en Español</a> &raquo;</li>
          <li><a href="index.html" >Componentes</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2012, Traducido por Nacho Pacheco.
      Actualizado por última vez en Jun 14, 2012.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.2.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>