
<!DOCTYPE html> 
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Ayudantes de diálogo &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../../../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../../../index.html" />
    <link rel="up" title="Los ayudantes de consola" href="index.html" />
    <link rel="next" title="Ayudante formateador" href="formatterhelper.html" />
    <link rel="prev" title="Los ayudantes de consola" href="index.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../../../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="../../../index.html"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../../../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="formatterhelper.html" title="Ayudante formateador"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="index.html" title="Los ayudantes de consola"
             accesskey="P">anterior</a> |</li>
        <li><a href="../../../index.html">en Español</a> &raquo;</li>
          <li><a href="../../index.html" >Componentes</a> &raquo;</li>
          <li><a href="../index.html" >Consola</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Los ayudantes de consola</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="ayudantes-de-dialogo">
<span id="index-0"></span><h1>Ayudantes de diálogo<a class="headerlink" href="#ayudantes-de-dialogo" title="Enlazar permanentemente con este título">¶</a></h1>
<p>El clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Console\Helper\DialogHelper</span></tt> proporciona
funciones para solicitar más información al usuario. Estos se incluyen en el conjunto de ayudantes predefinido, el cual puedes obtener llamando al método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Command/Command.html#method_getHelperSet" title="Symfony\Component\Console\Command\Command::getHelperSet()"><span class="pre">getHelperSet()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dialog</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;dialog&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Todos los métodos dentro de los ayudantes de diálogo tienen una clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Console\Output\OutputInterface</span></tt> como primer argumento, la pregunta como segundo argumento y el valor predefinido como último argumento.</p>
<div class="section" id="pidiendo-confirmacion-al-usuario">
<h2>Pidiendo confirmación al usuario<a class="headerlink" href="#pidiendo-confirmacion-al-usuario" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Supón que quieres confirmar una acción antes de ejecutarla realmente. Añade lo siguiente a tu orden:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">askConfirmation</span><span class="p">(</span>
        <span class="nv">$output</span><span class="p">,</span>
        <span class="s1">&#39;&lt;question&gt;Continue with this action?&lt;/question&gt;&#39;</span><span class="p">,</span>
        <span class="k">false</span>
    <span class="p">))</span> <span class="p">{</span>
    <span class="k">return</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</div>
<p>En este caso, se preguntará al usuario «¿Continúar con esta acción?», y regresará
<tt class="docutils literal"><span class="pre">true</span></tt> si el usuario respondió con <tt class="docutils literal"><span class="pre">y</span></tt> o <tt class="docutils literal"><span class="pre">false</span></tt> en cualquier otro caso. El tercer argumento de <tt class="docutils literal"><span class="pre">askConfirmation</span></tt> es el valor predeterminado que se devuelve si el usuario no introduce algo.</p>
</div>
<div class="section" id="pidiendo-informacion-al-usuario">
<h2>Pidiendo información al usuario<a class="headerlink" href="#pidiendo-informacion-al-usuario" title="Enlazar permanentemente con este título">¶</a></h2>
<p>También puedes preguntar algó más complejo que una sencilla respuesta sí/no. Por ejemplo, si quieres saber un nombre de paquete, puedes añadir esto a tu orden:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$bundle</span> <span class="o">=</span> <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">ask</span><span class="p">(</span>
    <span class="nv">$output</span><span class="p">,</span>
    <span class="s1">&#39;Please enter the name of the bundle&#39;</span><span class="p">,</span>
    <span class="s1">&#39;AcmeDemoBundle&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
<p>Se pedirá al usuario «Por favor, introduce el nombre del paquete». El usuario escribe algún nombre, el cual será devuelto por el método <tt class="docutils literal"><span class="pre">ask</span></tt>. Si lo deja vacío, el valor predefinido (<tt class="docutils literal"><span class="pre">AcmeDemoBundle</span></tt> aquí) será regresado.</p>
<div class="section" id="ocultando-la-respuesta-del-usuario">
<h3>Ocultando la respuesta del usuario<a class="headerlink" href="#ocultando-la-respuesta-del-usuario" title="Enlazar permanentemente con este título">¶</a></h3>
<p class="versionadded">
<span class="versionmodified">Nuevo en la versión 2.2: </span>El método <tt class="docutils literal"><span class="pre">askHiddenResponse</span></tt> se añadió en <em>Symfony 2.2</em>.</p>
<p>Además, puedes hacer una pregunta y ocultar la respuesta. Esto, particularmente es conveniente para contraseñas:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dialog</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;dialog&#39;</span><span class="p">);</span>
<span class="nv">$password</span> <span class="o">=</span> <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">askHiddenResponse</span><span class="p">(</span>
    <span class="nv">$output</span><span class="p">,</span>
    <span class="s1">&#39;What is the database password?&#39;</span><span class="p">,</span>
    <span class="k">false</span>
<span class="p">);</span>
</pre></div>
</div>
<div class="admonition caution">
<p class="first admonition-title">Prudencia</p>
<p class="last">Cuándo pides una respuesta oculta, <em>Symfony</em> utilizará o bien un binario, cambiará al modo <tt class="docutils literal"><span class="pre">stty</span></tt> o utilizará algún otro truco para ocultar la respuesta. Si ninguno está disponible, se replegará y dejará la respuesta visible a no ser que pases <tt class="docutils literal"><span class="pre">false</span></tt> como tercer argumento tal cómo en el ejemplo anterior. En este caso, lanzará una excepción en tiempo de ejecución (<tt class="docutils literal"><span class="pre">RuntimeException</span></tt>).</p>
</div>
</div>
</div>
<div class="section" id="validando-la-respuesta">
<h2>Validando la respuesta<a class="headerlink" href="#validando-la-respuesta" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Incluso, puedes validar la respuesta. Por ejemplo, en el último fragmento de código solicitaste el nombre del paquete. Siguiendo las convenciones de nomenclatura de <em>Symfony2</em>, se tiene que sufijar con <tt class="docutils literal"><span class="pre">Bundle</span></tt>. Puedes validar esto utilizando el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/DialogHelper.html#method_askAndValidate" title="Symfony\Component\Console\Helper\DialogHelper::askAndValidate()"><span class="pre">askAndValidate()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$bundle</span> <span class="o">=</span> <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">askAndValidate</span><span class="p">(</span>
    <span class="nv">$output</span><span class="p">,</span>
    <span class="s1">&#39;Please enter the name of the bundle&#39;</span><span class="p">,</span>
    <span class="k">function</span> <span class="p">(</span><span class="nv">$answer</span><span class="p">)</span> <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="s1">&#39;Bundle&#39;</span> <span class="o">!==</span> <span class="nb">substr</span><span class="p">(</span><span class="nv">$answer</span><span class="p">,</span> <span class="o">-</span><span class="mi">6</span><span class="p">))</span> <span class="p">{</span>
            <span class="k">throw</span> <span class="k">new</span> <span class="nx">\RunTimeException</span><span class="p">(</span>
                <span class="s1">&#39;The name of the bundle should be suffixed with \&#39;Bundle\&#39;&#39;</span>
            <span class="p">);</span>
        <span class="p">}</span>
    <span class="p">},</span>
    <span class="k">false</span><span class="p">,</span>
    <span class="s1">&#39;AcmeDemoBundle&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
<p>Estos métodos tienen 2 nuevos argumentos, la firma completa es:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nx">askAndValidate</span><span class="p">(</span>
    <span class="nx">OutputInterface</span> <span class="nv">$output</span><span class="p">,</span>
    <span class="nx">string</span><span class="o">|</span><span class="k">array</span> <span class="nv">$question</span><span class="p">,</span>
    <span class="nx">callback</span> <span class="nv">$validator</span><span class="p">,</span>
    <span class="nx">integer</span> <span class="nv">$attempts</span> <span class="o">=</span> <span class="k">false</span><span class="p">,</span>
    <span class="nx">string</span> <span class="nv">$default</span> <span class="o">=</span> <span class="k">null</span>
<span class="p">)</span>
</pre></div>
</div>
<p>El <tt class="docutils literal"><span class="pre">$validator</span></tt> es una retrollamada que maneja la validación. Este debe lanzar una excepción si hay algo incorrecto. El mensaje de excepción es mostrado en la consola, por lo tanto es una buena práctica poner alguna información útil en él.</p>
<p>Puedes poner el número máximo de veces a preguntar en el argumento <tt class="docutils literal"><span class="pre">$attempts</span></tt>.
Si alcanzas este número máximo utilizas el valor predeterminado, el cual es dado en el último argumento. Utilizar <tt class="docutils literal"><span class="pre">false</span></tt> significa que la cantidad de intentos es infinita.
El usuario será preguntado mientras proporcione una respuesta nula y sólo será capaz de proceder si su entrada es válida.</p>
<div class="section" id="id1">
<h3>Ocultando la respuesta del usuario<a class="headerlink" href="#id1" title="Enlazar permanentemente con este título">¶</a></h3>
<p class="versionadded">
<span class="versionmodified">Nuevo en la versión 2.2: </span>El método <tt class="docutils literal"><span class="pre">askHiddenResponseAndValidate</span></tt> se añadió en <em>Symfony 2.2</em>.</p>
<p>También puedes hacer una pregunta y validar una respuesta oculta:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dialog</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;dialog&#39;</span><span class="p">);</span>

<span class="nv">$validator</span> <span class="o">=</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$value</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">if</span> <span class="p">(</span><span class="nb">trim</span><span class="p">(</span><span class="nv">$value</span><span class="p">)</span> <span class="o">==</span> <span class="s1">&#39;&#39;</span><span class="p">)</span> <span class="p">{</span>
        <span class="k">throw</span> <span class="k">new</span> <span class="nx">\Exception</span><span class="p">(</span><span class="s1">&#39;The password can not be empty&#39;</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">};</span>

<span class="nv">$password</span> <span class="o">=</span> <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">askHiddenResponseAndValidate</span><span class="p">(</span>
    <span class="nv">$output</span><span class="p">,</span>
    <span class="s1">&#39;Please enter the name of the widget&#39;</span><span class="p">,</span>
    <span class="nv">$validator</span><span class="p">,</span>
    <span class="mi">20</span><span class="p">,</span>
    <span class="k">false</span>
<span class="p">);</span>
</pre></div>
</div>
<p>Si quieres permitir que la respuesta sea visible si &#8212;por alguna razón&#8212; no se puede ocultar, pasa <tt class="docutils literal"><span class="pre">true</span></tt> como quinto argumento.</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="formatterhelper.html" title="Ayudante formateador"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="index.html" title="Los ayudantes de consola"
             >anterior</a> |</li>
        <li><a href="../../../index.html">en Español</a> &raquo;</li>
          <li><a href="../../index.html" >Componentes</a> &raquo;</li>
          <li><a href="../index.html" >Consola</a> &raquo;</li>
          <li><a href="index.html" >Los ayudantes de consola</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2013, Traducido por Nacho Pacheco.
      Actualizado por última vez en Jan 16, 2013.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>