
<!DOCTYPE html> 
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Ayudante formateador &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../../../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../../../index.html" />
    <link rel="up" title="Los ayudantes de consola" href="index.html" />
    <link rel="next" title="El componente CssSelector" href="../../css_selector.html" />
    <link rel="prev" title="Ayudantes de diálogo" href="dialoghelper.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../../../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="../../../index.html"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../../../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="../../css_selector.html" title="El componente CssSelector"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="dialoghelper.html" title="Ayudantes de diálogo"
             accesskey="P">anterior</a> |</li>
        <li><a href="../../../index.html">en Español</a> &raquo;</li>
          <li><a href="../../index.html" >Componentes</a> &raquo;</li>
          <li><a href="../index.html" >Consola</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Los ayudantes de consola</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="ayudante-formateador">
<span id="index-0"></span><h1>Ayudante formateador<a class="headerlink" href="#ayudante-formateador" title="Enlazar permanentemente con este título">¶</a></h1>
<p>Los ayudantes formateadores proporcionan funciones para aplicar formato al resultado con colores.
Puedes hacer cosas más avanzadas con este ayudante de las que puedes hacer con <a class="reference internal" href="../introduction.html#components-console-coloring"><em>Coloreando la salida</em></a>.</p>
<p>La clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Console\Helper\FormatterHelper</span></tt> está incluida en el conjunto de ayudantes predefinido, el cual te puedes conseguir llamando al método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Command/Command.html#method_getHelperSet" title="Symfony\Component\Console\Command\Command::getHelperSet()"><span class="pre">getHelperSet()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$formatter</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;formatter&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Los métodos regresan una cadena, la cual normalmente dibujas en la consola pasándola al
método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Output/OutputInterface.html#method_writeln" title="Symfony\Component\Console\Output\OutputInterface::writeln()"><span class="pre">OutputInterface::writeln</span></a></tt></p>
<div class="section" id="imprimiendo-mensajes-en-una-seccion">
<h2>Imprimiendo mensajes en una sección<a class="headerlink" href="#imprimiendo-mensajes-en-una-seccion" title="Enlazar permanentemente con este título">¶</a></h2>
<p><em>Symfony</em> ofrece un estilo definido cuándo imprimes un mensaje que pertenece a alguna
«sección». Este imprime la sección en color encerrada entre corchetes y el mensaje real a la derecha de esta. Menos el color, tiene esta apariencia:</p>
<div class="highlight-text"><div class="highlight"><pre>[SomeSection] Here is some message related to that section
</pre></div>
</div>
<p>Para reproducir este estilo, puedes utilizar el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/FormatterHelper.html#method_formatSection" title="Symfony\Component\Console\Helper\FormatterHelper::formatSection()"><span class="pre">formatSection()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$formattedLine</span> <span class="o">=</span> <span class="nv">$formatter</span><span class="o">-&gt;</span><span class="na">formatSection</span><span class="p">(</span>
    <span class="s1">&#39;SomeSection&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Here is some message related to that section&#39;</span>
<span class="p">);</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="nv">$formattedLine</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="imprimiendo-mensajes-en-un-bloque">
<h2>Imprimiendo mensajes en un bloque<a class="headerlink" href="#imprimiendo-mensajes-en-un-bloque" title="Enlazar permanentemente con este título">¶</a></h2>
<p>A veces quieres poder imprimir un bloque de texto entero con un color de fondo. <em>Symfony</em> lo usa al imprimir mensajes de error.</p>
<p>Si imprimes manualmente tu mensaje de error en más de una línea, notarás que el fondo es sólo a lo largo de cada línea individual. Usa el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/FormatterHelper.html#method_formatBlock" title="Symfony\Component\Console\Helper\FormatterHelper::formatBlock()"><span class="pre">formatBlock()</span></a></tt> para generar una producción de bloque:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$errorMessages</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Error!&#39;</span><span class="p">,</span> <span class="s1">&#39;Something went wrong&#39;</span><span class="p">);</span>
<span class="nv">$formattedBlock</span> <span class="o">=</span> <span class="nv">$formatter</span><span class="o">-&gt;</span><span class="na">formatBlock</span><span class="p">(</span><span class="nv">$errorMessages</span><span class="p">,</span> <span class="s1">&#39;error&#39;</span><span class="p">);</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="nv">$formattedBlock</span><span class="p">);</span>
</pre></div>
</div>
<p>Como puedes ver, al pasar un arreglo de mensajes al método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/FormatterHelper.html#method_formatBlock" title="Symfony\Component\Console\Helper\FormatterHelper::formatBlock()"><span class="pre">formatBlock()</span></a></tt> el método crea el resultado deseado. Si pasas <tt class="docutils literal"><span class="pre">true</span></tt> como tercer argumento, el bloque será formateado con más relleno (una línea en blanco por encima y debajo de los mensajes y 2 espacios a la izquierda y derecha).</p>
<p>El «estilo» exacto a utilizar en el bloque depende de ti. En este caso, estás utilizando el estilo de <tt class="docutils literal"><span class="pre">error</span></tt> predefinido, pero hay otros estilos, o  puedes crear el tuyo propio. Ve <a class="reference internal" href="../introduction.html#components-console-coloring"><em>Coloreando la salida</em></a>.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="../../css_selector.html" title="El componente CssSelector"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="dialoghelper.html" title="Ayudantes de diálogo"
             >anterior</a> |</li>
        <li><a href="../../../index.html">en Español</a> &raquo;</li>
          <li><a href="../../index.html" >Componentes</a> &raquo;</li>
          <li><a href="../index.html" >Consola</a> &raquo;</li>
          <li><a href="index.html" >Los ayudantes de consola</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2012, Traducido por Nacho Pacheco.
      Actualizado por última vez en Jan 11, 2013.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>