
<!DOCTYPE html> 
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>El ayudante Progress &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../../../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../../../index.html" />
    <link rel="up" title="Los ayudantes de consola" href="index.html" />
    <link rel="next" title="Ayudante Table" href="tablehelper.html" />
    <link rel="prev" title="Ayudante formateador" href="formatterhelper.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../../../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="../../../index.html"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../../../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="tablehelper.html" title="Ayudante Table"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="formatterhelper.html" title="Ayudante formateador"
             accesskey="P">anterior</a> |</li>
        <li><a href="../../../index.html">en Español</a> &raquo;</li>
          <li><a href="../../index.html" >Componentes</a> &raquo;</li>
          <li><a href="../index.html" >Consola</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Los ayudantes de consola</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="el-ayudante-progress">
<span id="index-0"></span><h1>El ayudante <tt class="docutils literal"><span class="pre">Progress</span></tt><a class="headerlink" href="#el-ayudante-progress" title="Enlazar permanentemente con este título">¶</a></h1>
<p class="versionadded">
<span class="versionmodified">Nuevo en la versión 2.2: </span>El ayudante <tt class="docutils literal"><span class="pre">progress</span></tt> se añadió en <em>Symfony 2.2</em>.</p>
<p class="versionadded">
<span class="versionmodified">Nuevo en la versión 2.3: </span>El método <tt class="docutils literal"><span class="pre">setCurrent</span></tt> se añadió en <em>Symfony 2.3</em>.</p>
<p>Cuándo ejecutes órdenes que consumen demasiado tiempo en su ejecución, puede ser útil mostrar información de progreso, la cual se actualiza conforme se ejecuta la orden:</p>
<img alt="../../../_images/progress.png" src="../../../_images/progress.png" />
<p>Para mostrar detalles de progreso, usa la clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Console\Helper\ProgressHelper</span></tt>, pasándole el número total de unidades, y adelanta el progreso conforme se ejecute la orden:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$progress</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;progress&#39;</span><span class="p">);</span>

<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="nv">$output</span><span class="p">,</span> <span class="mi">50</span><span class="p">);</span>
<span class="nv">$i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
<span class="k">while</span> <span class="p">(</span><span class="nv">$i</span><span class="o">++</span> <span class="o">&lt;</span> <span class="mi">50</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ... hace algún trabajo</span>

    <span class="c1">// avanza la barra de progreso 1 unidad</span>
    <span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">advance</span><span class="p">();</span>
<span class="p">}</span>

<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">finish</span><span class="p">();</span>
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Truco</p>
<p class="last">Además, puedes ajustar el progreso actual llamando al método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html#method_setCurrent" title="Symfony\Component\Console\Helper\ProgressHelper::setCurrent()"><span class="pre">setCurrent()</span></a></tt>.</p>
</div>
<p>El aspecto de la barra de progreso también se puede personalizar, con una serie
de diferentes niveles de detalle. Cada uno de los cuales muestra los diferentes elementos posibles &#8212;tal cómo porcentaje completado, una barra de progreso en movimiento, o información actual/total (por ejemplo, 10/50):</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_QUIET</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_NORMAL</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_VERBOSE</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_QUIET_NOMAX</span><span class="p">);</span>
<span class="c1">// el valor predefinido</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_NORMAL_NOMAX</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_VERBOSE_NOMAX</span><span class="p">);</span>
</pre></div>
</div>
<p>También puedes controlar los diferentes caracteres y el ancho utilizado por la barra de progreso:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// la parte terminada de la barra</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setBarCharacter</span><span class="p">(</span><span class="s1">&#39;&lt;comment&gt;=&lt;/comment&gt;&#39;</span><span class="p">);</span>
<span class="c1">// la parte inacabada de la barra</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setEmptyBarCharacter</span><span class="p">(</span><span class="s1">&#39; &#39;</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setProgressCharacter</span><span class="p">(</span><span class="s1">&#39;|&#39;</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setBarWidth</span><span class="p">(</span><span class="mi">50</span><span class="p">);</span>
</pre></div>
</div>
<p>Para ver otras opciones disponibles, revisa la clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Console\Helper\ProgressHelper</span></tt> en la documentación de la <em>API</em>.</p>
<div class="admonition caution">
<p class="first admonition-title">Prudencia</p>
<p>Por razones de rendimiento, se prudente en no poner la cantidad total de pasos a un número alto. Por ejemplo, si estás iterando sobre una gran cantidad de elementos, considera un número de «paso» más pequeño que se actualizace en algunas iteraciones únicamente:</p>
<div class="last highlight-php"><div class="highlight"><pre><span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="nv">$output</span><span class="p">,</span> <span class="mi">500</span><span class="p">);</span>
<span class="nv">$i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
<span class="k">while</span> <span class="p">(</span><span class="nv">$i</span><span class="o">++</span> <span class="o">&lt;</span> <span class="mi">50000</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ... hace algún trabajo</span>

    <span class="c1">// avanza cada 100 iteraciones</span>
    <span class="k">if</span> <span class="p">(</span><span class="nv">$i</span> <span class="o">%</span> <span class="mi">100</span> <span class="o">==</span> <span class="mi">0</span><span class="p">)</span> <span class="p">{</span>
        <span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">advance</span><span class="p">();</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="tablehelper.html" title="Ayudante Table"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="formatterhelper.html" title="Ayudante formateador"
             >anterior</a> |</li>
        <li><a href="../../../index.html">en Español</a> &raquo;</li>
          <li><a href="../../index.html" >Componentes</a> &raquo;</li>
          <li><a href="../index.html" >Consola</a> &raquo;</li>
          <li><a href="index.html" >Los ayudantes de consola</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2013, Traducido por Nacho Pacheco.
      Actualizado por última vez en Apr 22, 2013.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>