
<!DOCTYPE html> 
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Cortafuegos y el contexto de seguridad &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../../index.html" />
    <link rel="up" title="Seguridad" href="index.html" />
    <link rel="next" title="Autenticación" href="authentication.html" />
    <link rel="prev" title="El componente Security" href="introduction.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="../../index.html"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="authentication.html" title="Autenticación"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="El componente Security"
             accesskey="P">anterior</a> |</li>
        <li><a href="../../index.html">en Español</a> &raquo;</li>
          <li><a href="../index.html" >Componentes</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Seguridad</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="cortafuegos-y-el-contexto-de-seguridad">
<span id="index-0"></span><h1>Cortafuegos y el contexto de seguridad<a class="headerlink" href="#cortafuegos-y-el-contexto-de-seguridad" title="Enlazar permanentemente con este título">¶</a></h1>
<p>Una parte central del componente de seguridad es el contexto de seguridad, el cual es una instancia de la clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Security\Core\SecurityContextInterface</span></tt>. Cuando todos los pasos en el proceso de autenticar al usuario han sido exitosos, puedes preguntar al contexto de seguridad si el usuario autenticado tiene acceso a una determinada acción o recurso de la aplicación:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Security\SecurityContext</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Security\Core\Exception\AccessDeniedException</span><span class="p">;</span>

<span class="nv">$securityContext</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">SecurityContext</span><span class="p">();</span>

<span class="c1">// ... autentifica al usuario</span>

<span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nv">$securityContext</span><span class="o">-&gt;</span><span class="na">isGranted</span><span class="p">(</span><span class="s1">&#39;ROLE_ADMIN&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="k">throw</span> <span class="k">new</span> <span class="nx">AccessDeniedException</span><span class="p">();</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="section" id="un-cortafuegos-para-peticiones-http">
<span id="firewall"></span><h2>Un cortafuegos para peticiones <em>HTTP</em><a class="headerlink" href="#un-cortafuegos-para-peticiones-http" title="Enlazar permanentemente con este título">¶</a></h2>
<p>La autenticación de un usuario se hizo para el cortafuegos. Una aplicación puede tener múltiples áreas protegidas, así que el cortafuegos está configurado utilizando un mapa de estas áreas protegidas. Para cada una de estas áreas, el mapa contiene un emparejador con la petición y una colección de escuchas. El emparejador de petición da al cortafuegos la habilidad de descubrir si la petición actual apunta a una área protegida.
Los escuchas entonces son consultados para ver si se puede usar la petición actual para autenticar al usuario:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Security\Http\FirewallMap</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\HttpFoundation\RequestMatcher</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Security\Http\Firewall\ExceptionListener</span><span class="p">;</span>

<span class="nv">$map</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">FirewallMap</span><span class="p">();</span>

<span class="nv">$requestMatcher</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">RequestMatcher</span><span class="p">(</span><span class="s1">&#39;^/secured-area/&#39;</span><span class="p">);</span>

<span class="c1">// instancias de</span>
<span class="c1">// Symfony\Component\Security\Http\Firewall\ListenerInterface</span>
<span class="nv">$listeners</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="o">...</span><span class="p">);</span>

<span class="nv">$exceptionListener</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ExceptionListener</span><span class="p">(</span><span class="o">...</span><span class="p">);</span>

<span class="nv">$map</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="nv">$requestMatcher</span><span class="p">,</span> <span class="nv">$listeners</span><span class="p">,</span> <span class="nv">$exceptionListener</span><span class="p">);</span>
</pre></div>
</div>
<p>El mapa del cortafuegos será asociado al cortafuegos como su primer argumento, junto con el despachador de eventos utilizado por la clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\HttpKernel\HttpKernel</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Security\Http\Firewall</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\HttpKernel\KernelEvents</span><span class="p">;</span>

<span class="c1">// el EventDispatcher usado por el HttpKernel</span>
<span class="nv">$dispatcher</span> <span class="o">=</span> <span class="o">...</span><span class="p">;</span>

<span class="nv">$firewall</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Firewall</span><span class="p">(</span><span class="nv">$map</span><span class="p">,</span> <span class="nv">$dispatcher</span><span class="p">);</span>

<span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">addListener</span><span class="p">(</span><span class="nx">KernelEvents</span><span class="o">::</span><span class="na">REQUEST</span><span class="p">,</span>
                         <span class="k">array</span><span class="p">(</span><span class="nv">$firewall</span><span class="p">,</span>
                               <span class="s1">&#39;onKernelRequest&#39;</span>
             <span class="p">));</span>
</pre></div>
</div>
<p>El cortafuegos es registrado para escuchar el evento <tt class="docutils literal"><span class="pre">kernel.request</span></tt> que será despachado por el <tt class="docutils literal"><span class="pre">HttpKernel</span></tt> al principio de cada petición procesada. De este modo, el cortafuegos puede impedir al usuario ir más allá de dónde tiene permitido.</p>
<div class="section" id="escuchas-del-cortafuegos">
<span id="firewall-listeners"></span><h3>Escuchas del cortafuegos<a class="headerlink" href="#escuchas-del-cortafuegos" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Cuándo el cortafuegos es notificado del evento <tt class="docutils literal"><span class="pre">kernel.request</span></tt>, este consulta el mapa del cortafuegos para ver si la petición coincide con una de las áreas protegidas. La primer área protegida que coincide con la petición regresará el correspondiente conjunto de escuchas del cortafuegos (el cual implementa la <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Security\Http\Firewall\ListenerInterface</span></tt>).
Todos estos escuchas serán consultados para manejar la petición actual. Esto básicamente significa: descubrir si la petición actual contiene alguna información por medio de la cual se podría autenticar al usuario (para casos de autenticación <em>HTTP</em> básicos el escucha comprueba si la petición tiene una cabecera llamada <tt class="docutils literal"><span class="pre">PHP_AUTH_USER</span></tt>).</p>
</div>
<div class="section" id="escucha-de-excepciones">
<h3>Escucha de excepciones<a class="headerlink" href="#escucha-de-excepciones" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Si cualquiera de los escuchas lanza una <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Security\Core\Exception\AuthenticationException</span></tt>, el escucha de la excepción proporcionado al añadir las áreas protegidas saltará al mapa del cortafuegos.</p>
<p>El escucha de la excepción determina qué pasa luego, basándose en los argumentos recibidos al crearlo. Este puede empezar el procedimiento de autenticación, quizás &#8212;nuevamente&#8212; haciendo que el usuario suministre sus credenciales (cuándo sólo ha sido
autenticado basándose en una <tt class="docutils literal"><span class="pre">galleta</span></tt> «recuérdame»), o transformando la excepción a una clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\HttpKernel\Exception\AccessDeniedHttpException</span></tt>, la cual finalmente resulta en una «respuesta 403 de <em>HTTP/1.1</em>: Acceso denegado».</p>
</div>
<div class="section" id="puntos-de-entrada">
<h3>Puntos de entrada<a class="headerlink" href="#puntos-de-entrada" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Cuándo el usuario no es autenticado en absoluto (es decir, cuándo el contexto de seguridad
no tiene ficha todavía), el punto de entrada del cortafuegos será llamado para que «empiece»
el proceso de autenticación. Un punto de entrada debería implementar <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Security\Http\EntryPoint\AuthenticationEntryPointInterface</span></tt>, la cual sólo tiene un método: <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Security/Http/EntryPoint/AuthenticationEntryPointInterface.html#method_start" title="Symfony\Component\Security\Http\EntryPoint\AuthenticationEntryPointInterface::start()"><span class="pre">start()</span></a></tt>.
Este método recibe el objeto <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\HttpFoundation\Request</span></tt> actual y la excepción por la cual el escucha de excepciones fue lanzado.
El método debería regresar un objeto <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\HttpFoundation\Response</span></tt>. Este podría ser, por ejemplo, la página que contiene el formulario de inicio de sesión o, en el caso de autenticación <em>HTTP</em> básica, una respuesta con la cabecera <tt class="docutils literal"><span class="pre">WWW-Authenticate</span></tt>, la cual hará que el usuario suministre su nombre de usuario y contraseña.</p>
</div>
</div>
<div class="section" id="flujo-cortafuegos-autenticacion-autorizacion">
<h2>Flujo: cortafuegos, autenticación, autorización<a class="headerlink" href="#flujo-cortafuegos-autenticacion-autorizacion" title="Enlazar permanentemente con este título">¶</a></h2>
<p>Con algo de suerte, ahora puedes ver un poco de cómo «fluye» el trabajo del contexto de seguridad:</p>
<ol class="arabic simple">
<li>El cortafuegos es registrado como escucha en el evento <tt class="docutils literal"><span class="pre">kernel.request</span></tt>;</li>
<li>Al principio de la petición, el cortafuegos comprueba el mapa del cortafuegos para ver si algún cortafuegos debería estar activo para esa <em>URL</em>;</li>
<li>Si se encontró un cortafuegos en el mapa para esta <em>URL</em>, sus escuchas son notificados</li>
<li>Cada escucha comprueba si la petición actual contiene alguna información de autenticación &#8212;un escucha puede (a) autenticar un usuario, (b) lanzar una <tt class="docutils literal"><span class="pre">AuthenticationException</span></tt>, o (c) no hacer nada (porque no hay información de autenticación en la petición);</li>
<li>Una vez autenticado un usuario, utilizarás la <a class="reference internal" href="authorization.html"><em>Autorización</em></a> para denegar el acceso a determinados recursos.</li>
</ol>
<p>Lee las siguientes secciones para descubrir más sobre <a class="reference internal" href="authentication.html"><em>Autenticación</em></a> y <a class="reference internal" href="authorization.html"><em>Autorización</em></a>.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="authentication.html" title="Autenticación"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="El componente Security"
             >anterior</a> |</li>
        <li><a href="../../index.html">en Español</a> &raquo;</li>
          <li><a href="../index.html" >Componentes</a> &raquo;</li>
          <li><a href="index.html" >Seguridad</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2013, Traducido por Nacho Pacheco.
      Actualizado por última vez en Jan 11, 2013.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>