
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Contenedor consciente del despachador de eventos &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../../index.html" />
    <link rel="up" title="Despachador de eventos" href="index.html" />
    <link rel="next" title="El componente Finder" href="../finder.html" />
    <link rel="prev" title="El objeto evento genérico" href="generic_event.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="http://gitnacho.github.com/tnp/"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="../finder.html" title="El componente Finder"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="generic_event.html" title="El objeto evento genérico"
             accesskey="P">anterior</a> |</li>
        <li><a href="../../index.html">en Español</a> &raquo;</li>
          <li><a href="../index.html" >Componentes</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Despachador de eventos</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="contenedor-consciente-del-despachador-de-eventos">
<span id="index-0"></span><h1>Contenedor consciente del despachador de eventos<a class="headerlink" href="#contenedor-consciente-del-despachador-de-eventos" title="Enlazar permanentemente con este título">¶</a></h1>
<p class="versionadded">
<span class="versionmodified">Nuevo en la versión 2.1: </span>Esta característica se movió al componente <tt class="docutils literal"><span class="pre">EventDispatcher</span></tt> en <em>Symfony 2.1</em>.</p>
<div class="section" id="introduccion">
<h2>Introducción<a class="headerlink" href="#introduccion" title="Enlazar permanentemente con este título">¶</a></h2>
<p>La clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher</span></tt> es una implementación especial del despachador de eventos que está acoplada al componente contenedor de inyección de dependencias (<em>DIC</em> en adelante por <tt class="docutils literal"><span class="pre">Dependency</span> <span class="pre">Injection</span> <span class="pre">Container</span> <span class="pre">Component</span></tt>) en <em>Symfony2</em>. Este permite especificar los servicios del <em>DIC</em> como escuchas de eventos que vuelven extremadamente potente al despachador de eventos.</p>
<p>Los servicios se cargan de manera diferida, lo cual significa que los servicios adjuntos como escuchas sólo se crearán si se despacha un evento que requiere de esos escuchas.</p>
</div>
<div class="section" id="configurando">
<h2>Configurando<a class="headerlink" href="#configurando" title="Enlazar permanentemente con este título">¶</a></h2>
<p>La instalación es sencilla inyectando una <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\DependencyInjection\ContainerInterface</span></tt> en <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\DependencyInjection\ContainerBuilder</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher</span><span class="p">;</span>

<span class="nv">$container</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ContainerBuilder</span><span class="p">();</span>
<span class="nv">$dispatcher</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ContainerAwareEventDispatcher</span><span class="p">(</span><span class="nv">$container</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="anadiendo-escuchas">
<h2>Añadiendo escuchas<a class="headerlink" href="#anadiendo-escuchas" title="Enlazar permanentemente con este título">¶</a></h2>
<p>El <em>contenedor consciente del despachador de eventos</em> puede cargar determinados servicios directamente, o servicios que implementan la <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\EventDispatcher\EventSubscriberInterface</span></tt>.</p>
<p>Los siguientes ejemplos asumen que el <em>DIC</em> se ha cargado con todos los servicios que se mencionan.</p>
<div class="admonition note">
<p class="first admonition-title">Nota</p>
<p class="last">Los servicios se deben marcar como públicos en el <em>DIC</em>.</p>
</div>
<div class="section" id="agregando-servicios">
<h3>Agregando servicios<a class="headerlink" href="#agregando-servicios" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Para conectar las definiciones de servicios existentes, usa el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/ContainerAwareEventDispatcher.html#method_addListenerService" title="Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher::addListenerService()"><span class="pre">addListenerService()</span></a></tt> dónde <tt class="docutils literal"><span class="pre">$callback</span></tt> es una matriz de <tt class="docutils literal"><span class="pre">array($serviceId,</span> <span class="pre">$methodName)</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">addListenerService</span><span class="p">(</span><span class="nv">$eventName</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="s1">&#39;logListener&#39;</span><span class="p">));</span>
</pre></div>
</div>
</div>
<div class="section" id="agregando-suscriptores-de-servicios">
<h3>Agregando suscriptores de servicios<a class="headerlink" href="#agregando-suscriptores-de-servicios" title="Enlazar permanentemente con este título">¶</a></h3>
<p>Puedes agregar <tt class="docutils literal"><span class="pre">EventSubscribers</span></tt> usando el método <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/ContainerAwareEventDispatcher.html#method_addSubscriberService" title="Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher::addSubscriberService()"><span class="pre">addSubscriberService()</span></a></tt> dónde el primer argumento es el identificador del suscriptor del servicio, y el segundo argumento es el nombre de la clase del servicio (el cual debe implementar la <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\EventDispatcher\EventSubscriberInterface</span></tt>) de la siguiente manera:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">addSubscriberService</span><span class="p">(</span><span class="s1">&#39;kernel.store_subscriber&#39;</span><span class="p">,</span> <span class="s1">&#39;StoreSubscriber&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>La <tt class="docutils literal"><span class="pre">EventSubscriberInterface</span></tt> será exactamente como era de esperar:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\EventSubscriberInterface</span><span class="p">;</span>
<span class="c1">// ...</span>

<span class="k">class</span> <span class="nc">StoreSubscriber</span> <span class="k">implements</span> <span class="nx">EventSubscriberInterface</span>
<span class="p">{</span>
    <span class="k">static</span> <span class="k">public</span> <span class="k">function</span> <span class="nf">getSubscribedEvents</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="k">array</span><span class="p">(</span>
            <span class="s1">&#39;kernel.response&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
                <span class="k">array</span><span class="p">(</span><span class="s1">&#39;onKernelResponsePre&#39;</span><span class="p">,</span> <span class="mi">10</span><span class="p">),</span>
                <span class="k">array</span><span class="p">(</span><span class="s1">&#39;onKernelResponsePost&#39;</span><span class="p">,</span> <span class="mi">0</span><span class="p">),</span>
            <span class="p">),</span>
            <span class="s1">&#39;store.order&#39;</span>     <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;onStoreOrder&#39;</span><span class="p">,</span> <span class="mi">0</span><span class="p">),</span>
        <span class="p">);</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">onKernelResponsePre</span><span class="p">(</span><span class="nx">FilterResponseEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// ...</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">onKernelResponsePost</span><span class="p">(</span><span class="nx">FilterResponseEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// ...</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">onStoreOrder</span><span class="p">(</span><span class="nx">FilterOrderEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// ...</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="../finder.html" title="El componente Finder"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="generic_event.html" title="El objeto evento genérico"
             >anterior</a> |</li>
        <li><a href="../../index.html">en Español</a> &raquo;</li>
          <li><a href="../index.html" >Componentes</a> &raquo;</li>
          <li><a href="index.html" >Despachador de eventos</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2012, Traducido por Nacho Pacheco.
      Actualizado por última vez en Jun 13, 2012.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.2.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>