
<!DOCTYPE html> 
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>El objeto evento genérico &mdash; Manual de Symfony2 en Español</title>
    
    <link rel="stylesheet" href="../../_static/tnp.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0.15',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../_static/icotnp.ico"/>
    <link rel="top" title="Manual de Symfony2 en Español" href="../../index.html" />
    <link rel="up" title="Despachador de eventos" href="index.html" />
    <link rel="next" title="Contenedor consciente del despachador de eventos" href="container_aware_dispatcher.html" />
    <link rel="prev" title="El componente despachador de eventos" href="introduction.html" /> 
  </head>
  <body>
  <div class="imalogo">
    
  <a href="../../index.html"><img src="http://gitnacho.github.com/tnp/img/sf/logo-big.gif" alt="Edición estándar de Symfony2" />
  
    <a href="../../index.html"><img src="http://gitnacho.github.com/tnp/_static/normaltnp.png" alt="Traducciones de Nacho Pacheco" /></a>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="esymfony" data-lang="es">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="searchbox">
      <form class="searc " action="../../search.html" method="get">
      <input type="search" name="q" placeholder="Término a buscar" />
      <input type="submit" value="Ir" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <script type="text/javascript">$('#searchbox').show(0);</script>
    </div>
    

    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="Índice General"
             accesskey="I">índice</a></li>
        <li class="right" >
          <a href="container_aware_dispatcher.html" title="Contenedor consciente del despachador de eventos"
             accesskey="N">siguiente</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="El componente despachador de eventos"
             accesskey="P">anterior</a> |</li>
        <li><a href="../../index.html">en Español</a> &raquo;</li>
          <li><a href="../index.html" >Componentes</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Despachador de eventos</a> &raquo;</li> 
      </ul>
    </div>
  </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="el-objeto-evento-generico">
<span id="index-0"></span><h1>El objeto evento genérico<a class="headerlink" href="#el-objeto-evento-generico" title="Enlazar permanentemente con este título">¶</a></h1>
<p class="versionadded">
<span class="versionmodified">Nuevo en la versión 2.1: </span>La clase del evento <tt class="docutils literal"><span class="pre">GenericEvent</span></tt> se añadió en <em>Symfony 2.1</em>.</p>
<p>La clase base <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\EventDispatcher\Event</span></tt> proporcionada por el componente <tt class="docutils literal"><span class="pre">Despachador</span> <span class="pre">de</span> <span class="pre">eventos</span></tt> deliberadamente es escasa para permitir la creación por herencia de la <em>API</em> de objetos <tt class="docutils literal"><span class="pre">Evento</span></tt> específicos usando programación orientada a objetos. Esto permite código elegante y fácil de leer en aplicaciones complejas.</p>
<p>La clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\EventDispatcher\GenericEvent</span></tt> está disponible por conveniencia para aquellos que quieran utilizar un solo objeto <tt class="docutils literal"><span class="pre">Evento</span></tt> en toda su aplicación. Este es adecuado para la mayoría de los propósitos fuera de la caja, puesto que sigue el patrón <tt class="docutils literal"><span class="pre">observador</span> <span class="pre">estándar</span></tt> en el que el objeto <tt class="docutils literal"><span class="pre">evento</span></tt> encapsula el <tt class="docutils literal"><span class="pre">tema</span></tt> de un <tt class="docutils literal"><span class="pre">evento</span></tt>, pero que adicionalmente tiene argumentos opcionales extra.</p>
<p>La clase <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\EventDispatcher\GenericEvent</span></tt> tiene una <em>API</em> sencilla, además de la clase base <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\EventDispatcher\Event</span></tt>:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method___construct" title="Symfony\Component\EventDispatcher\GenericEvent::__construct()"><span class="pre">__construct()</span></a></tt>:
El constructor toma el <tt class="docutils literal"><span class="pre">tema</span></tt> y argumentos del <tt class="docutils literal"><span class="pre">evento</span></tt>;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_getSubject" title="Symfony\Component\EventDispatcher\GenericEvent::getSubject()"><span class="pre">getSubject()</span></a></tt>:
Obtiene el <tt class="docutils literal"><span class="pre">tema</span></tt>;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_setArgument" title="Symfony\Component\EventDispatcher\GenericEvent::setArgument()"><span class="pre">setArgument()</span></a></tt>:
Define un argumento por <tt class="docutils literal"><span class="pre">clave</span></tt>;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_setArguments" title="Symfony\Component\EventDispatcher\GenericEvent::setArguments()"><span class="pre">setArguments()</span></a></tt>:
Establece el arreglo de argumentos;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_getArgument" title="Symfony\Component\EventDispatcher\GenericEvent::getArgument()"><span class="pre">getArgument()</span></a></tt>:
Obtiene un argumento por <tt class="docutils literal"><span class="pre">clave</span></tt>;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_getArguments" title="Symfony\Component\EventDispatcher\GenericEvent::getArguments()"><span class="pre">getArguments()</span></a></tt>:
Captador para todos los  argumentos;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_hasArgument" title="Symfony\Component\EventDispatcher\GenericEvent::hasArgument()"><span class="pre">hasArgument()</span></a></tt>:
Devuelve <tt class="docutils literal"><span class="pre">true</span></tt> si existe el argumento <tt class="docutils literal"><span class="pre">clave</span></tt>;</li>
</ul>
<p>El <tt class="docutils literal"><span class="pre">GenericEvent</span></tt> también implementa la clase <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.arrayaccess.php" title="ArrayAccess"><span class="pre">ArrayAccess</span></a></tt> en los argumentos del evento, lo cual lo hace muy conveniente para pasar argumentos adicionales relacionados al <tt class="docutils literal"><span class="pre">tema</span></tt> del <tt class="docutils literal"><span class="pre">evento</span></tt>.</p>
<p>Los siguientes ejemplos muestran casos de uso para darte una idea general de su flexibilidad.
Los ejemplos asumen que los escuchas de eventos se han añadido al despachador.</p>
<p>Basta con pasar un <tt class="docutils literal"><span class="pre">tema</span></tt> (<tt class="docutils literal"><span class="pre">$subject</span></tt>):</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\GenericEvent</span><span class="p">;</span>

<span class="nv">$event</span> <span class="o">=</span> <span class="nx">GenericEvent</span><span class="p">(</span><span class="nv">$subject</span><span class="p">);</span>
<span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">dispatch</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="nv">$event</span><span class="p">);</span>

<span class="k">class</span> <span class="nc">FooListener</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">handler</span><span class="p">(</span><span class="nx">GenericEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getSubject</span><span class="p">()</span> <span class="nx">instanceof</span> <span class="nx">Foo</span><span class="p">)</span> <span class="p">{</span>
            <span class="c1">// ...</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Pasando y procesando argumentos usando la <em>API</em> de <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.arrayaccess.php" title="ArrayAccess"><span class="pre">ArrayAccess</span></a></tt> para acceder a los argumentos del <tt class="docutils literal"><span class="pre">evento</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\GenericEvent</span><span class="p">;</span>

<span class="nv">$event</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">GenericEvent</span><span class="p">(</span>
    <span class="nv">$subject</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;type&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="s1">&#39;counter&#39;</span> <span class="o">=&gt;</span> <span class="mi">0</span><span class="p">)</span>
<span class="p">);</span>
<span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">dispatch</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="nv">$event</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;counter&#39;</span><span class="p">];</span>

<span class="k">class</span> <span class="nc">FooListener</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">handler</span><span class="p">(</span><span class="nx">GenericEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nb">isset</span><span class="p">(</span><span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;type&#39;</span><span class="p">])</span> <span class="o">&amp;&amp;</span> <span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;type&#39;</span><span class="p">]</span> <span class="o">===</span> <span class="s1">&#39;foo&#39;</span><span class="p">)</span> <span class="p">{</span>
            <span class="c1">// ... hace algo</span>
        <span class="p">}</span>

        <span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;counter&#39;</span><span class="p">]</span><span class="o">++</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Filtrando datos:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\GenericEvent</span><span class="p">;</span>

<span class="nv">$event</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">GenericEvent</span><span class="p">(</span><span class="nv">$subject</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;data&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;foo&#39;</span><span class="p">));</span>
<span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">dispatch</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="nv">$event</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;data&#39;</span><span class="p">];</span>

<span class="k">class</span> <span class="nc">FooListener</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">filter</span><span class="p">(</span><span class="nx">GenericEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nb">strtolower</span><span class="p">(</span><span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;data&#39;</span><span class="p">]);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="https://github.com/symfony/symfony-standard"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://gitnacho.github.com/tnp/img/comun/bifurcame.png" alt="Bifúrcame en GitHub" /></a>
  
  <div style="width:740px;margin:10px auto;">
    <div class="related">
      <h3>Navegación</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="Índice General"
             >índice</a></li>
        <li class="right" >
          <a href="container_aware_dispatcher.html" title="Contenedor consciente del despachador de eventos"
             >siguiente</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="El componente despachador de eventos"
             >anterior</a> |</li>
        <li><a href="../../index.html">en Español</a> &raquo;</li>
          <li><a href="../index.html" >Componentes</a> &raquo;</li>
          <li><a href="index.html" >Despachador de eventos</a> &raquo;</li> 
      </ul>
    </div>
  </div>


   <div style="width: 740px; margin: 0 auto;">
     <div id="disqus_thread"></div>
     
    <div class="footer">
        &copy; Copyright 2011-2013, Traducido por Nacho Pacheco.
      Actualizado por última vez en Jan 11, 2013.
      Creado con <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
   </div>
   <script type="text/javascript">
    var disqus_shortname = 'documentos-mx';
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
   </script>
   <noscript>
     Por favor activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios accionados por Disqus.</a>
   </noscript>

  </body>
</html>